<a href="https://colab.research.google.com/github/steeze1213/Baekjoon/blob/main/BAEKJOON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#12/23

2557

In [ ]:
print("Hello Wolrd!")

Hello Wolrd!

1000

In [ ]:
a, b = map(int, input().split())
print(a+b)

1 2
3

1001

In [ ]:
a, b = map(int, input().split())
print(a-b)

1 2
-1

10998

In [ ]:
a, b = map(int, input().split())
print(a*b)

1 2
2

1008

In [ ]:
a, b = map(int, input().split())
print(a/b)

1 2
0.5

10869

In [ ]:
a, b = map(int, input().split())
print(a+b)
print(a-b)
print(a*b)
print(a//b)
print(a%b)

7 3
10
4
21
2
1

10926

In [ ]:
a=input()
print(a+'??!')

baekjoon
baekjoon??!

18108

In [ ]:
2541 - 1998

543

In [ ]:
a=int(input())
print(a-543)

2541
1998

10430

In [ ]:
a, b, c = map(int, input().split())
print((a+b)%c)
print(((a%c)+(b%c))%c)
print((a*b)%c)
print(((a%c)*(b%c))%c)

5 8 4
1
1
0
0

2588

In [ ]:
a = int(input())
b = input()

for i in range(len(b)-1, -1, -1):
    result=a * int(b[i])
    print(result)

final_result=a * int(b)
print(final_result)

472
385
2360
3776
1416
181720

#12/24

11382

In [ ]:
a, b, c = map(int, input().split())
print(a+b+c)

77 77 7777
7931

10171

In [ ]:
print("\\    /\\")
print(" )  ( ')")
print("(  /  )")
print(" \\(__)|")

\    /\
 )  ( ')
(  /  )
 \(__)|

10172

In [ ]:
print("|\_/|")
print("|q p|   /}")
print("( 0 )\"\"\"\\")
print("|\"^\"`    |")
print("||_/=\\\__|")

|\_/|
|q p|   /}
( 0 )"""\
|"^"`    |
||_/=\\__|

1330

In [ ]:
a, b = map(int, input().split())

if a > b:
    print(">")
elif a < b:
    print("<")
else:
    print("==")

1 2
<

9498

In [ ]:
score = int(input())

if 90 <= score <= 100:
    print("A")
elif 80 <= score <= 89:
    print("B")
elif 70 <= score <= 79:
    print("C")
elif 60 <= score <= 69:
    print("D")
else:
    print("F")

100
A

2753

In [ ]:
year = int(input())

if (year % 4) == 0 and (year % 100) != 0 or (year % 400) == 0:
    print("1")
else:
    print("0")

1999
0

14681

In [ ]:
x = int(input())
y = int(input())

if 0 < x and 0 < y:
    print("1")
elif 0 > x and 0 < y:
    print("2")
elif x < 0 and y < 0:
    print("3")
elif 0 < x and 0 > y:
    print("4")

9
-13
4

2884

In [ ]:
H, M = map(int, input().split())

if M >= 45:
    M -= 45
else:
    M += 15
    if H == 0:
        H = 23
    else:
        H -= 1

print(H, M)

10 10
9 25

2525

In [ ]:
H, M = map(int, input().split())
CT = int(input())

TT = H * 60 + M + CT

H = (TT // 60) % 24
M = TT % 60

print(H, M)

17 40
80
19 0

2480

In [ ]:
a, b, c = map(int, input().split())

if a == b == c:
    print(10000 + a * 1000)
elif a == b or a == c:
    print(1000 + a * 100)
elif b == c:
    print(1000 + b * 100)
else:
    print(max(a, b, c) * 100)

6 2 5
600

2739

In [ ]:
N = int(input())

for i in range(1, 10):
    print(N, "*", i, "=", N * i)

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

10950

In [ ]:
T = int(input())

result = []

for i in range(T):
    A, B = map(int, input().split())
    result.append(A + B)

for result in result:
    print(result)

5
1 1
2 3
3 4
9 8
5 2
2
5
7
17
7

8393

In [ ]:
n = int(input())
result = 0

for i in range(1, n + 1):
    result += i

print(result)

10
55

25304

In [ ]:
X = int(input())
N = int(input())

result = 0

for i in range(N):
    a, b = map(int, input().split())
    result += a * b
if result == X:
    print("Yes")
else:
    print("No")

250000
4
20000 5
30000 2
10000 6
5000 8
No

#12/25

25314

In [ ]:
N = int(input())

result = N // 4

for i in range(result):
    print("long", end=" ")
print("int")

100
long long long long long long long long long long long long long long long long long long long long long long long long long int

15552

In [ ]:
import sys

T = int(sys.stdin.readline().rstrip())

for _ in range(T):
    A, B = map(int, sys.stdin.readline().split())
    sys.stdout.write(f"{A + B}\n")

ValueError: invalid literal for int() with base 10: ''

155552-2(Jupyter에선sys.stdin.readline() 지원X)

In [ ]:
import sys
from io import StringIO

# 테스트용 입력 데이터
test_input = """5
1 1
12 34
5 500
40 60
1000 1000
"""
sys.stdin = StringIO(test_input)

T = int(sys.stdin.readline().rstrip())
for _ in range(T):
    A, B = map(int, sys.stdin.readline().split())
    print(A + B)

2
46
505
100
2000

11021(sys.stdin.readline() 지원X)

In [ ]:
import sys

T = int(sys.stdin.readline().rstrip())

for i in range(1, T + 1):
    A, B = map(int, sys.stdin.readline().split())
    print(f"Case #{i}: {A + B}")

ValueError: invalid literal for int() with base 10: ''

11022(sys.stdin.readline() 지원X)

In [ ]:
import sys

T = int(sys.stdin.readline().rstrip())

for i in range(1, T + 1):
    A, B = map(int, sys.stdin.readline().split())
    print(f"Case #{i}: {A} + {B} = {A + B}")

2438

In [ ]:
N = int(input())

for i in range(1, N + 1):
    print("*" * i)

5
*
**
***
****
*****

2439

In [ ]:
N = int(input())

for i in range(1, N + 1):
    print(" " * (N - i) + "*" * i)

5
    *
   **
  ***
 ****
*****

10952

In [ ]:
while True:
  try:
    A, B = map(int, input().split())
    print(A + B)
  except:
    break

1 1
2
2 3
5
3 4
7
9 8
17
5 2
7

#12/26

10807

In [3]:
N = int(input())
A = list(map(int, input().split()))
v = int(input())

print(A.count(v))

11
1 4 1 2 4 2 4 2 3 4 4
5
0

10871

In [4]:
N, X = map(int, input().split())
A = list(map(int, input().split()))

for i in range(N):
    if A[i] < X:
        print(A[i], end=" ")

10 5
1 10 4 9 2 3 8 5 7 6
1 4 2 3

10818

In [5]:
N = map(int, input())
A = list(map(int, input().split()))

print(min(A), max(A))

5
20 10 35  30 7
7 35

2562

In [8]:
for (i, n) in enumerate(range(9)):
    n = int(input())
    if i == 0:
        max = n
        max_index = 1
    elif n > max:
        max = n
        max_index = i + 1

print(max)
print(max_index)

3
29
38
12
57
74
40
85
61
85
8

10810

In [11]:
N, M = map(int, input().split())
A = [0] * N

for _ in range(M):
    i, j, k = map(int, input().split())
    for n in range(i - 1, j):
        A[n] = k

for a in A:
    print(a, end=" ")

5 4
1 2 3
3 4 4
1 4 1
2 2 2
1 2 1 1 0

10813

In [13]:
N, M = map(int, input().split())
A = list(range(1, N + 1))

for _ in range(M):
    i, j = map(int, input().split())
    A[i - 1], A[j - 1] = A[j - 1], A[i - 1]

for a in A:
    print(a, end=" ")

5 4
1 2
3 4
1 4
2 2
3 1 4 2 5

5597

In [19]:
all_students = set(range(1, 31))
submitted_students = {int(input()) for _ in range(28)}
missing_students = sorted(all_students - submitted_students)

print(missing_students[0])
print(missing_students[1])

3
1
4
5
7
9
6
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
2
8

3052

In [23]:
remainders = set()

for _ in range(10):
    number = int(input())
    remainders.add(number % 42)

print(len(remainders))

39
40
41
42
43
44
82
83
84
85
6

10811

In [24]:
N, M = map(int, input().split())
A = list(range(1, N + 1))

for _ in range(M):
    i, j = map(int, input().split())
    A[i - 1:j] = reversed(A[i - 1:j])

for a in A:
    print(a, end=" ")

5 4
1 2
3 4
1 4
2 2
3 4 1 2 5

1546

In [1]:
N = int(input())
scores = list(map(int, input().split()))

best_score = max(scores)

new_scores = [score / best_score * 100 for score in scores]

average = sum(new_scores) / N

print(average)

9
10 20 30 40 50 60 70 80 90
55.55555555555556