<a href="https://colab.research.google.com/github/steeze1213/Baekjoon/blob/main/BAEKJOON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#12/23

2557

In [ ]:
print("Hello Wolrd!")

Hello Wolrd!

1000

In [ ]:
a, b = map(int, input().split())
print(a+b)

1 2
3

1001

In [ ]:
a, b = map(int, input().split())
print(a-b)

1 2
-1

10998

In [ ]:
a, b = map(int, input().split())
print(a*b)

1 2
2

1008

In [ ]:
a, b = map(int, input().split())
print(a/b)

1 2
0.5

10869

In [ ]:
a, b = map(int, input().split())
print(a+b)
print(a-b)
print(a*b)
print(a//b)
print(a%b)

7 3
10
4
21
2
1

10926

In [ ]:
a=input()
print(a+'??!')

baekjoon
baekjoon??!

18108

In [ ]:
2541 - 1998

543

In [ ]:
a=int(input())
print(a-543)

2541
1998

10430

In [ ]:
a, b, c = map(int, input().split())
print((a+b)%c)
print(((a%c)+(b%c))%c)
print((a*b)%c)
print(((a%c)*(b%c))%c)

5 8 4
1
1
0
0

2588

In [ ]:
a = int(input())
b = input()

for i in range(len(b)-1, -1, -1):
    result=a * int(b[i])
    print(result)

final_result=a * int(b)
print(final_result)

472
385
2360
3776
1416
181720

#12/24

11382

In [ ]:
a, b, c = map(int, input().split())
print(a+b+c)

77 77 7777
7931

10171

In [ ]:
print("\\    /\\")
print(" )  ( ')")
print("(  /  )")
print(" \\(__)|")

\    /\
 )  ( ')
(  /  )
 \(__)|

10172

In [ ]:
print("|\_/|")
print("|q p|   /}")
print("( 0 )\"\"\"\\")
print("|\"^\"`    |")
print("||_/=\\\__|")

|\_/|
|q p|   /}
( 0 )"""\
|"^"`    |
||_/=\\__|

1330

In [ ]:
a, b = map(int, input().split())

if a > b:
    print(">")
elif a < b:
    print("<")
else:
    print("==")

1 2
<

9498

In [ ]:
score = int(input())

if 90 <= score <= 100:
    print("A")
elif 80 <= score <= 89:
    print("B")
elif 70 <= score <= 79:
    print("C")
elif 60 <= score <= 69:
    print("D")
else:
    print("F")

100
A

2753

In [ ]:
year = int(input())

if (year % 4) == 0 and (year % 100) != 0 or (year % 400) == 0:
    print("1")
else:
    print("0")

1999
0

14681

In [ ]:
x = int(input())
y = int(input())

if 0 < x and 0 < y:
    print("1")
elif 0 > x and 0 < y:
    print("2")
elif x < 0 and y < 0:
    print("3")
elif 0 < x and 0 > y:
    print("4")

9
-13
4

2884

In [ ]:
H, M = map(int, input().split())

if M >= 45:
    M -= 45
else:
    M += 15
    if H == 0:
        H = 23
    else:
        H -= 1

print(H, M)

10 10
9 25

2525

In [ ]:
H, M = map(int, input().split())
CT = int(input())

TT = H * 60 + M + CT

H = (TT // 60) % 24
M = TT % 60

print(H, M)

17 40
80
19 0

2480

In [ ]:
a, b, c = map(int, input().split())

if a == b == c:
    print(10000 + a * 1000)
elif a == b or a == c:
    print(1000 + a * 100)
elif b == c:
    print(1000 + b * 100)
else:
    print(max(a, b, c) * 100)

6 2 5
600

2739

In [ ]:
N = int(input())

for i in range(1, 10):
    print(N, "*", i, "=", N * i)

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

10950

In [ ]:
T = int(input())

result = []

for i in range(T):
    A, B = map(int, input().split())
    result.append(A + B)

for result in result:
    print(result)

5
1 1
2 3
3 4
9 8
5 2
2
5
7
17
7

8393

In [ ]:
n = int(input())
result = 0

for i in range(1, n + 1):
    result += i

print(result)

10
55

25304

In [ ]:
X = int(input())
N = int(input())

result = 0

for i in range(N):
    a, b = map(int, input().split())
    result += a * b
if result == X:
    print("Yes")
else:
    print("No")

250000
4
20000 5
30000 2
10000 6
5000 8
No

#12/25

25314

In [ ]:
N = int(input())

result = N // 4

for i in range(result):
    print("long", end=" ")
print("int")

100
long long long long long long long long long long long long long long long long long long long long long long long long long int

15552

In [ ]:
import sys

T = int(sys.stdin.readline().rstrip())

for _ in range(T):
    A, B = map(int, sys.stdin.readline().split())
    sys.stdout.write(f"{A + B}\n")

ValueError: invalid literal for int() with base 10: ''

155552-2(Jupyter에선sys.stdin.readline() 지원X)

In [ ]:
import sys
from io import StringIO

# 테스트용 입력 데이터
test_input = """5
1 1
12 34
5 500
40 60
1000 1000
"""
sys.stdin = StringIO(test_input)

T = int(sys.stdin.readline().rstrip())
for _ in range(T):
    A, B = map(int, sys.stdin.readline().split())
    print(A + B)

2
46
505
100
2000

11021(sys.stdin.readline() 지원X)

In [ ]:
import sys

T = int(sys.stdin.readline().rstrip())

for i in range(1, T + 1):
    A, B = map(int, sys.stdin.readline().split())
    print(f"Case #{i}: {A + B}")

ValueError: invalid literal for int() with base 10: ''

11022(sys.stdin.readline() 지원X)

In [ ]:
import sys

T = int(sys.stdin.readline().rstrip())

for i in range(1, T + 1):
    A, B = map(int, sys.stdin.readline().split())
    print(f"Case #{i}: {A} + {B} = {A + B}")

2438

In [ ]:
N = int(input())

for i in range(1, N + 1):
    print("*" * i)

5
*
**
***
****
*****

2439

In [ ]:
N = int(input())

for i in range(1, N + 1):
    print(" " * (N - i) + "*" * i)

5
    *
   **
  ***
 ****
*****

10952

In [ ]:
while True:
  try:
    A, B = map(int, input().split())
    print(A + B)
  except:
    break

1 1
2
2 3
5
3 4
7
9 8
17
5 2
7

#12/26

10807

In [ ]:
N = int(input())
A = list(map(int, input().split()))
v = int(input())

print(A.count(v))

11
1 4 1 2 4 2 4 2 3 4 4
5
0

10871

In [ ]:
N, X = map(int, input().split())
A = list(map(int, input().split()))

for i in range(N):
    if A[i] < X:
        print(A[i], end=" ")

10 5
1 10 4 9 2 3 8 5 7 6
1 4 2 3

10818

In [ ]:
N = map(int, input())
A = list(map(int, input().split()))

print(min(A), max(A))

5
20 10 35  30 7
7 35

2562

In [ ]:
for (i, n) in enumerate(range(9)):
    n = int(input())
    if i == 0:
        max = n
        max_index = 1
    elif n > max:
        max = n
        max_index = i + 1

print(max)
print(max_index)

3
29
38
12
57
74
40
85
61
85
8

10810

In [ ]:
N, M = map(int, input().split())
A = [0] * N

for _ in range(M):
    i, j, k = map(int, input().split())
    for n in range(i - 1, j):
        A[n] = k

for a in A:
    print(a, end=" ")

5 4
1 2 3
3 4 4
1 4 1
2 2 2
1 2 1 1 0

10813

In [ ]:
N, M = map(int, input().split())
A = list(range(1, N + 1))

for _ in range(M):
    i, j = map(int, input().split())
    A[i - 1], A[j - 1] = A[j - 1], A[i - 1]

for a in A:
    print(a, end=" ")

5 4
1 2
3 4
1 4
2 2
3 1 4 2 5

5597

In [ ]:
all_students = set(range(1, 31))
submitted_students = {int(input()) for _ in range(28)}
missing_students = sorted(all_students - submitted_students)

print(missing_students[0])
print(missing_students[1])

3
1
4
5
7
9
6
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
2
8

3052

In [ ]:
remainders = set()

for _ in range(10):
    number = int(input())
    remainders.add(number % 42)

print(len(remainders))

39
40
41
42
43
44
82
83
84
85
6

10811

In [ ]:
N, M = map(int, input().split())
A = list(range(1, N + 1))

for _ in range(M):
    i, j = map(int, input().split())
    A[i - 1:j] = reversed(A[i - 1:j])

for a in A:
    print(a, end=" ")

5 4
1 2
3 4
1 4
2 2
3 4 1 2 5

1546

In [ ]:
N = int(input())
scores = list(map(int, input().split()))

best_score = max(scores)

new_scores = [score / best_score * 100 for score in scores]

average = sum(new_scores) / N

print(average)

9
10 20 30 40 50 60 70 80 90
55.55555555555556

#12/27

27866

In [ ]:
S = input()
i = int(input())

print(S[i-1])

sprout
3
r

2743

In [ ]:
A = input()
print(len(A))

pulljima
8

9086

In [ ]:
T = int(input())

for _ in range(T):
  S = input()
print(S[0] + S[-1])

3
asdflwo
oo
ab
ab

In [ ]:
T = int(input())

test_cases = [input().strip() for _ in range(T)]

for S in test_cases:
    print(S[0] + S[-1])

3
adsge
o
ab
ae
oo
ab

11654

In [ ]:
print(ord(input()))

A
65

11720

In [ ]:
T = int(input())
N = input()
result = 0

for n in N:
    result += int(n)

print(result)

5
54321
15

10809

In [ ]:
S = input()
alphabet = "abcdefghijklmnopqrstuvwxyz"

for a in alphabet:
    print(S.find(a), end=" ")

baekjoon
1 0 -1 -1 2 -1 -1 -1 -1 4 3 -1 -1 7 5 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1

2675

In [ ]:
R = int(input())

for _ in range(R):
    T = input().split()
    result = ""
    for t in T[1]:
        result += t * int(T[0])
    print(result)

2
3 ABC
AAABBBCCC
5 /HTP
/////HHHHHTTTTTPPPPP

1152

In [ ]:
S = input().split()
print(len(S))

The Curious Case of Benjamin Button
6

2908

In [ ]:
N1, N2 = input().split()

print(max(int(N1[::-1]), int(N2[::-1])))

734 893
437

5622

In [ ]:
S = input()
dial = ["ABC", "DEF", "GHI", "JKL", "MNO", "PQRS", "TUV", "WXYZ"]

result = 0

for s in S:
    for d in dial:
        if s in d:
            result += dial.index(d) + 3

print(result)

WA
13

11718

In [ ]:
while True:
    try:
        print(input())
    except:
        break

Hello
Hello
Baekjoon
Baekjoon
a

25083

In [ ]:
print('''         ,r'"7
r`-_   ,'  ,/
 \. ". L_r'
   `~\/
      |
      |''')

         ,r'"7
r`-_   ,'  ,/
 \. ". L_r'
   `~\/
      |
      |

3003

In [ ]:
K, Q, R, B, Kn, P = map(int, input().split())

print(1 - K, 1 - Q, 2 - R, 2 - B, 2 - Kn, 8 - P)

0 1 2 2 2 7
1 0 0 0 0 1

2444

In [ ]:
N = int(input())

for i in range(1, N*2, 2):
    print(" " * ((2 * N - 1 - i) // 2) + "*" * i)

for i in range(N*2-3, 0, -2):
    print(" " * ((2 * N - 1 - i) // 2) + "*" * i)

5
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

10988

In [ ]:
W = input()

if W == W[::-1]:
    print(1)
else:
    print(0)

baekjoon
0

1157

In [ ]:
W = input()
W = W.upper()

alphabet = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
count = []

for a in alphabet:
    count.append(W.count(a))

print(alphabet[count.index(max(count))]) if count.count(max(count)) == 1 else print("?")

Mississipi
?

#12/28

2941

In [ ]:
CA = ["c=", "c-", "dz=", "d-", "lj", "nj", "s=", "z="]

word = input()

for c in CA:
    word = word.replace(c, "*")

print(len(word))

ljes=njak
6

#12/29

1316

In [ ]:
n = int(input())
words = [input().strip() for _ in range(n)]

def is_group_word(word):
    seen = set()
    prev_char = ''
    for char in word:
        if char != prev_char:
            if char in seen:
                return False
            seen.add(char)
            prev_char = char
    return True

group_word_count = sum(1 for word in words if is_group_word(word))

print(group_word_count)

5
ab
aa
aca
ba
bb
4

#12/30

25206

In [ ]:
grade_to_score = {
    "A+": 4.5,
    "A0": 4.0,
    "B+": 3.5,
    "B0": 3.0,
    "C+": 2.5,
    "C0": 2.0,
    "D+": 1.5,
    "D0": 1.0,
    "F": 0.0
}

total_credits = 0
total_points = 0

for _ in range(20):
    line = input().split()
    subject, credit, grade = line[0], float(line[1]), line[2]

    if grade == "P":
        continue

    total_credits += credit
    total_points += credit * grade_to_score[grade]

gpa = total_points / total_credits if total_credits > 0 else 0.0

print(f"{gpa:.6f}")

ObjectOrientedProgramming1 3.0 A+
IntroductiontoComputerEngineering 3.0 A+
ObjectOrientedProgramming2 3.0 A0
CreativeComputerEngineeringDesign 3.0 A+
AssemblyLanguage 3.0 A+
InternetProgramming 3.0 B0
ApplicationProgramminginJava 3.0 A0
SystemProgramming 3.0 B0
OperatingSystem 3.0 B0
WirelessCommunicationsandNetworking 3.0 C+
LogicCircuits 3.0 B0
DataStructure 4.0 A+
MicroprocessorApplication 3.0 B+
EmbeddedSoftware 3.0 C0
ComputerSecurity 3.0 D+
Database 3.0 C+
Algorithm 3.0 B0
CapstoneDesigninCSE 3.0 B+
CompilerDesign 3.0 D0
ProblemSolving 4.0 P
3.284483

2738

In [ ]:
N, M = map(int, input().split())

A = [list(map(int, input().split())) for _ in range(N)]
B = [list(map(int, input().split())) for _ in range(N)]

for i in range(N):
    for j in range(M):
        print(A[i][j] + B[i][j], end=" ")
    print()

3 3
1 1 1
2 2 2
0 1 0
3 3 3
4 4 4
5 5 100
4 4 4
6 6 6
5 6 100

2566

In [ ]:
table = [list(map(int, input().split())) for _ in range(9)]

max_num = 0
max_row, max_col = 0, 0
for row in range(9):
    for col in range(9):
        if max_num <= table[row][col]:
            max_row = row + 1
            max_col = col + 1
            max_num = table[row][col]

print(max_num)
print(max_row, max_col)

3 23 85 34 17 74 25 52 65
10 7 39 42 88 52 14 72 63
87 42 18 78 53 45 18 84 53
34 28 64 85 12 16 75 36 55
21 77 45 35 28 75 90 76 1
25 87 65 15 28 11 37 28 74
65 27 75 41 7 89 78 64 39
47 47 70 45 23 65 3 41 44
87 13 82 38 31 12 29 29 80
90
5 7

10798

In [ ]:
table = [input() for _ in range(5)]

max_length = max(map(len, table))

for col in range(max_length):
    for row in range(5):
        if col < len(table[row]):
            print(table[row][col], end="")

ABCDE
abcde
01234
FGHIJ
fghij
Aa0FfBb1GgCc2HhDd3IiEe4Jj

2563

In [ ]:
N = int(input())

canvas = [[0] * 100 for _ in range(100)]

for _ in range(N):
    x, y = map(int, input().split())
    for i in range(x, x + 10):
        for j in range(y, y + 10):
            canvas[i][j] = 1

count = 0
for row in canvas:
    count += sum(row)

print(count)

3
3 7
15 7
5 2
260

2745

In [ ]:
N, B = input().split()
N = int(N, int(B))
print(N)

ZZZZZ 36
60466175

11005

In [ ]:
def decimal_to_base(N, B):
    chars = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ"
    result = ""
    while N > 0:
        result = chars[N % B] + result
        N //= B
    return result

N, B = map(int, input().split())
print(decimal_to_base(N, B))

60466175 36
ZZZZZ

2720

In [ ]:
T = int(input())
coins = [25, 10, 5, 1]
results = []

for _ in range(T):
    C = int(input())
    result = []
    for coin in coins:
        count = C // coin
        result.append(count)
        C %= coin
    results.append(result)

for res in results:
    print(*res)

3
124
25
194
4 2 0 4
1 0 0 0
7 1 1 4

2903

In [ ]:
N = int(input())
points = (2 ** N + 1) ** 2
print(points)

2
25

2292

In [ ]:
N = int(input())
room = 1
count = 1
while N > room:
    room += 6 * count
    count += 1
print(count)

13
3

1193

In [ ]:
X = int(input())
line = 1
while X > line:
    X -= line
    line += 1
if line % 2 == 0:
    print(f"{X}/{line - X + 1}")
else:
    print(f"{line - X + 1}/{X}")

14
2/4

2869

In [ ]:
A, B, V = map(int, input().split())
days = (V - B - 1) // (A - B) + 1
print(days)

2 1 5
4

5086

In [ ]:
while True:
    a, b = map(int, input().split())
    if a == 0 and b == 0:
        break
    if b % a == 0:
        print("factor")
    elif a % b == 0:
        print("multiple")
    else:
        print("neither")

8 16
factor
32 4
multiple
17 5
neither
0 0

2501

In [ ]:
N, K = map(int, input().split())
factors = []
for i in range(1, N + 1):
    if N % i == 0:
        factors.append(i)
        if len(factors) == K:
            print(i)
            break
else:
    print(0)

2735 1
1

9506

In [ ]:
while True:
    n = int(input())
    if n == -1:
        break

    divisors = []
    for i in range(1, int(n**0.5) + 1):
        if n % i == 0:
            divisors.append(i)
            if i != 1 and i != n // i:
                divisors.append(n // i)

    if sum(divisors) == n:
        divisors.sort()
        print(f"{n} = {' + '.join(map(str, divisors))}")
    else:
        print(f"{n} is NOT perfect.")

6
6 = 1 + 2 + 3
12
12 is NOT perfect.
28
28 = 1 + 2 + 4 + 7 + 14
-1

#12/31

1978

In [ ]:
N = int(input())
nums = list(map(int, input().split()))
count = 0

for num in nums:
    if num == 1:
        continue
    if all(num % i != 0 for i in range(2, int(num**0.5) + 1)):
        count += 1

print(count)

4
1 3 5 7
3

#1/1

2581

In [ ]:
M = int(input())
N = int(input())
primes = []

for num in range(M, N + 1):
    if num == 1:
        continue
    is_prime = True

    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            is_prime = False
            break

    if is_prime:
        primes.append(num)

if primes:
    print(sum(primes))
    print(min(primes))

else:
    print(-1)

64
65
-1

#1/2

11653

In [ ]:
N = int(input())

for i in range(2, N + 1):
    while N % i == 0:
        print(i)
        N //= i

72
2
2
2
3
3

27323

In [ ]:
A = int(input())
B = int(input())
print(A * B)

2
3
6

1085

In [ ]:
x, y, w, h = map(int, input().split())
print(min(x, y, w - x, h - y))

6 2 10 3
1

3009

In [ ]:
x_coords = []
y_coords = []

for _ in range(3):
    x, y = map(int, input().split())
    x_coords.append(x)
    y_coords.append(y)

x4 = [x for x in x_coords if x_coords.count(x) == 1][0]
y4 = [y for y in y_coords if y_coords.count(y) == 1][0]

print(x4, y4)

5 5
5 7
7 5
7 7

15894

In [ ]:
n = int(input())
print(n * 4)

1
4

9063

In [ ]:
N = int(input())
points = []
for _ in range(N):
    x, y = map(int, input().split())
    points.append((x, y))

x_min = min(points, key=lambda x: x[0])[0]
x_max = max(points, key=lambda x: x[0])[0]
y_min = min(points, key=lambda x: x[1])[1]
y_max = max(points, key=lambda x: x[1])[1]

print((x_max - x_min) * (y_max - y_min))

3
20 24
40 21
10 12
360

10101

In [ ]:
a = int(input())
b = int(input())
c = int(input())
if a == b == c == 60:
    print("Equilateral")

elif a + b + c == 180:
    if a == b or b == c or a == c:
        print("Isosceles")
    else:
        print("Scalene")
else:
    print("Error")

60
70
50
Scalene

5073

In [ ]:
while True:
    a, b, c = map(int, input().split())
    if a == 0 and b == 0 and c == 0:
        break
    sides = sorted([a, b, c])
    if sides[0] + sides[1] <= sides[2]:
        print("Invalid")
    elif a == b == c:
        print("Equilateral")
    elif a == b or b == c or a == c:
        print("Isosceles")
    else:
        print("Scalene")

7 7 7
Equilateral
6 5 4
Scalene
3 2 5
Invalid
6 2 6
Isosceles
0 0 0

14125

In [ ]:
a, b, c = map(int, input().split())
sides = sorted([a, b, c])

while sides[0] + sides[1] <= sides[2]:
    sides[2] -= 1

print(sum(sides))

41 64 16
113

24262

In [ ]:
n = int(input())

print(1)
print(0)

1
1
0

24263

In [ ]:
n = int(input())

print(n)

if n <= 500000:
    print(1)
else:
    print(4)

7
7
1

24264

In [ ]:
n = int(input())

print(n ** 2)

if n <= 500000:
    print(2)
else:
    print(4)

7
49
2

24265

In [ ]:
n = int(input())

execution_count = n * (n - 1) // 2

print(execution_count)
print(2)

7
21
2

24266

In [ ]:
n = int(input())

execution_count = n ** 3

highest_degree = 3

print(execution_count)
print(highest_degree)

7
343
3

24267

In [ ]:
n = int(input())

execution_count = (n * (n - 1) * (n - 2)) // 6 if n >= 3 else 0

highest_degree = 3

print(execution_count)
print(highest_degree)

7
35
3

24313

In [ ]:
a1, a0 = map(int, input().split())
c = int(input())
n0 = int(input())

for n in range(n0, 101):
    if a1 * n + a0 > c * n:
        print(0)
        break
else:
    print(1)

7 7
8
1
0

#1/3

2798

In [ ]:
N, M = map(int, input().split())
cards = list(map(int, input().split()))
closest_sum = 0

for i in range(N):
    for j in range(i + 1, N):
        for k in range(j + 1, N):
            sum_of_three = cards[i] + cards[j] + cards[k]
            if sum_of_three > M:
                continue
            if closest_sum == 0 or abs(M - sum_of_three) < abs(M - closest_sum):
                closest_sum = sum_of_three

print(closest_sum)

10 500
93 181 245 214 315 36 185 138 216 195
497

2231

In [ ]:
N = int(input())
result = 0

for i in range(1, N + 1):
    digits = list(map(int, str(i)))
    result = i + sum(digits)
    if result == N:
        print(i)
        break
else:
    print(0)

216
198

19532

In [ ]:
a, b, c, d, e, f = map(int, input().split())

if a * e - b * d != 0:
    x = (c * e - b * f) / (a * e - b * d)
    y = (a * f - c * d) / (a * e - b * d)
    print(int(x), int(y))
else:
    print(0)

1 3 -1 4 1 7
2 -1

1018

In [ ]:
N, M = map(int, input().split())
board = [input() for _ in range(N)]

chess_pattern1 = [
    "WBWBWBWB",
    "BWBWBWBW",
    "WBWBWBWB",
    "BWBWBWBW",
    "WBWBWBWB",
    "BWBWBWBW",
    "WBWBWBWB",
    "BWBWBWBW"
]

chess_pattern2 = [
    "BWBWBWBW",
    "WBWBWBWB",
    "BWBWBWBW",
    "WBWBWBWB",
    "BWBWBWBW",
    "WBWBWBWB",
    "BWBWBWBW",
    "WBWBWBWB"
]

min_flips = float('inf')

for i in range(N - 7):
    for j in range(M - 7):
        flips1 = 0
        flips2 = 0
        for k in range(8):
            for l in range(8):
                if board[i + k][j + l] != chess_pattern1[k][l]:
                    flips1 += 1
                if board[i + k][j + l] != chess_pattern2[k][l]:
                    flips2 += 1
        min_flips = min(min_flips, flips1, flips2)

print(min_flips)

11 12
BWWBWWBWWBWW
BWWBWBBWWBWW
WBWWBWBBWWBW
BWWBWBBWWBWW
WBWWBWBBWWBW
BWWBWBBWWBWW
WBWWBWBBWWBW
BWWBWBWWWBWW
WBWWBWBBWWBW
BWWBWBBWWBWW
WBWWBWBBWWBW
15

1436

In [ ]:
N = int(input())

count = 0
num = 666

while count < N:
    if '666' in str(num):
        count += 1
    num += 1

print(num - 1)

187
66666

2839

In [ ]:
N = int(input())
bag = 0

while N >= 0:
    if N % 5 == 0:
        bag += N // 5
        print(bag)
        break
    N -= 3
    bag += 1
else:
    print(-1)

11
3

2750

In [ ]:
N = int(input())
nums = []

for _ in range(N):
    num = int(input())
    nums.append(num)

nums.sort()

for num in nums:
    print(num)

5
5
2
3
4
1
1
2
3
4
5

2587

In [ ]:
nums = []

for _ in range(5):
    num = int(input())
    nums.append(num)

nums.sort()

print(sum(nums) // 5)
print(nums[2])

10
40
30
60
30
34
30

25305

In [ ]:
N, k = map(int, input().split())
scores = list(map(int, input().split()))
scores.sort(reverse=True)
print(scores[k - 1])

5 2
100 76 85 93 98
98

2751

In [ ]:
import sys
input=sys.stdin.readline

n=int(input())
li=[]

for i in range(n):
    li.append(int(input()))

for i in sorted(li):
    print(i)

10989

In [ ]:
import sys

def input():
    return sys.stdin.readline()

n = int(input())

count = [0] * 10001

for _ in range(n):
    num = int(input())
    count[num] += 1

for i in range(1, 10001):
    if count[i] != 0:
        for _ in range(count[i]):
            print(i)

1427

In [ ]:
N = int(input())
nums = list(map(int, str(N)))
nums.sort(reverse=True)
print(''.join(map(str, nums)))

2143
4321

11650

In [ ]:
N = int(input())
points = []

for _ in range(N):
    x, y = map(int, input().split())
    points.append((x, y))

points.sort(key=lambda point: (point[0], point[1]))

for x, y in points:
    print(x, y)

5
3 4
1 1
1 -1
2 2
3 3
1 -1
1 1
2 2
3 3
3 4

11651

In [ ]:
N = int(input())
points = []

for _ in range(N):
    x, y = map(int, input().split())
    points.append((x, y))

points.sort(key=lambda point: (point[1], point[0]))

for x, y in points:
    print(x, y)

5
0 4
1 2
1 -1
2 2
3 3
1 -1
1 2
2 2
3 3
0 4

1181

In [ ]:
N = int(input())
words = []

for _ in range(N):
    word = input()
    words.append(word)

words = list(set(words))
words.sort()
words.sort(key=len)

for word in words:
    print(word)

13
but
i
wont
hesitate
no
more
no
more
it
cannot
wait
im
yours
i
im
it
no
but
more
wait
wont
yours
cannot
hesitate

#1/4

10814

In [3]:
N = int(input())
members = []

for _ in range(N):
    age, name = input().split()
    members.append((int(age), name))

members.sort(key=lambda member: member[0])

for age, name in members:
    print(age, name)

3
21 Junkyu
21 Dohyun
20 Sunyoung
20 Sunyoung
21 Junkyu
21 Dohyun

#런타임 연결

In [1]:
print('Hello World!')

Hello World!