<a href="https://colab.research.google.com/github/steeze1213/Baekjoon/blob/main/BAEKJOON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#12/23

###1-2557

In [ ]:
print("Hello Wolrd!")

Hello Wolrd!

###2-1000

In [ ]:
a, b = map(int, input().split())
print(a+b)

1 2
3

###3-1001

In [ ]:
a, b = map(int, input().split())
print(a-b)

1 2
-1

###4-10998

In [ ]:
a, b = map(int, input().split())
print(a*b)

1 2
2

###5-1008

In [ ]:
a, b = map(int, input().split())
print(a/b)

1 2
0.5

###6-10869

In [ ]:
a, b = map(int, input().split())
print(a+b)
print(a-b)
print(a*b)
print(a//b)
print(a%b)

7 3
10
4
21
2
1

###7-10926

In [ ]:
a=input()
print(a+'??!')

baekjoon
baekjoon??!

###8-18108

In [ ]:
2541 - 1998

543

In [ ]:
a=int(input())
print(a-543)

2541
1998

###9-10430

In [ ]:
a, b, c = map(int, input().split())
print((a+b)%c)
print(((a%c)+(b%c))%c)
print((a*b)%c)
print(((a%c)*(b%c))%c)

5 8 4
1
1
0
0

###10-2588

In [ ]:
a = int(input())
b = input()

for i in range(len(b)-1, -1, -1):
    result=a * int(b[i])
    print(result)

final_result=a * int(b)
print(final_result)

472
385
2360
3776
1416
181720

#12/24

###1-11382

In [ ]:
a, b, c = map(int, input().split())
print(a+b+c)

77 77 7777
7931

###2-10171

In [ ]:
print("\\    /\\")
print(" )  ( ')")
print("(  /  )")
print(" \\(__)|")

\    /\
 )  ( ')
(  /  )
 \(__)|

###3-10172

In [ ]:
print("|\_/|")
print("|q p|   /}")
print("( 0 )\"\"\"\\")
print("|\"^\"`    |")
print("||_/=\\\__|")

|\_/|
|q p|   /}
( 0 )"""\
|"^"`    |
||_/=\\__|

###4-1330

In [ ]:
a, b = map(int, input().split())

if a > b:
    print(">")
elif a < b:
    print("<")
else:
    print("==")

1 2
<

###5-9498

In [ ]:
score = int(input())

if 90 <= score <= 100:
    print("A")
elif 80 <= score <= 89:
    print("B")
elif 70 <= score <= 79:
    print("C")
elif 60 <= score <= 69:
    print("D")
else:
    print("F")

100
A

###6-2753

In [ ]:
year = int(input())

if (year % 4) == 0 and (year % 100) != 0 or (year % 400) == 0:
    print("1")
else:
    print("0")

1999
0

###7-14681

In [ ]:
x = int(input())
y = int(input())

if 0 < x and 0 < y:
    print("1")
elif 0 > x and 0 < y:
    print("2")
elif x < 0 and y < 0:
    print("3")
elif 0 < x and 0 > y:
    print("4")

9
-13
4

###8-2884

In [ ]:
H, M = map(int, input().split())

if M >= 45:
    M -= 45
else:
    M += 15
    if H == 0:
        H = 23
    else:
        H -= 1

print(H, M)

10 10
9 25

###9-2525

In [ ]:
H, M = map(int, input().split())
CT = int(input())

TT = H * 60 + M + CT

H = (TT // 60) % 24
M = TT % 60

print(H, M)

17 40
80
19 0

###10-2480

In [ ]:
a, b, c = map(int, input().split())

if a == b == c:
    print(10000 + a * 1000)
elif a == b or a == c:
    print(1000 + a * 100)
elif b == c:
    print(1000 + b * 100)
else:
    print(max(a, b, c) * 100)

6 2 5
600

###11-2739

In [ ]:
N = int(input())

for i in range(1, 10):
    print(N, "*", i, "=", N * i)

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

###12-10950

In [ ]:
T = int(input())

result = []

for i in range(T):
    A, B = map(int, input().split())
    result.append(A + B)

for result in result:
    print(result)

5
1 1
2 3
3 4
9 8
5 2
2
5
7
17
7

###13-8393

In [ ]:
n = int(input())
result = 0

for i in range(1, n + 1):
    result += i

print(result)

10
55

###14-25304

In [ ]:
X = int(input())
N = int(input())

result = 0

for i in range(N):
    a, b = map(int, input().split())
    result += a * b
if result == X:
    print("Yes")
else:
    print("No")

250000
4
20000 5
30000 2
10000 6
5000 8
No

#12/25

###1-25314

In [ ]:
N = int(input())

result = N // 4

for i in range(result):
    print("long", end=" ")
print("int")

100
long long long long long long long long long long long long long long long long long long long long long long long long long int

###2-15552

In [ ]:
import sys

T = int(sys.stdin.readline().rstrip())

for _ in range(T):
    A, B = map(int, sys.stdin.readline().split())
    sys.stdout.write(f"{A + B}\n")

15552-2(Jupyter에선sys.stdin.readline() 지원X)

In [ ]:
import sys
from io import StringIO

# 테스트용 입력 데이터
test_input = """5
1 1
12 34
5 500
40 60
1000 1000
"""
sys.stdin = StringIO(test_input)

T = int(sys.stdin.readline().rstrip())
for _ in range(T):
    A, B = map(int, sys.stdin.readline().split())
    print(A + B)

2
46
505
100
2000

###3-11021

In [ ]:
import sys

T = int(sys.stdin.readline().rstrip())

for i in range(1, T + 1):
    A, B = map(int, sys.stdin.readline().split())
    print(f"Case #{i}: {A + B}")

###4-11022

In [ ]:
import sys

T = int(sys.stdin.readline().rstrip())

for i in range(1, T + 1):
    A, B = map(int, sys.stdin.readline().split())
    print(f"Case #{i}: {A} + {B} = {A + B}")

###5-2438

In [ ]:
N = int(input())

for i in range(1, N + 1):
    print("*" * i)

5
*
**
***
****
*****

###6-2439

In [ ]:
N = int(input())

for i in range(1, N + 1):
    print(" " * (N - i) + "*" * i)

5
    *
   **
  ***
 ****
*****

###7-10952

In [ ]:
while True:
  try:
    A, B = map(int, input().split())
    print(A + B)
  except:
    break

1 1
2
2 3
5
3 4
7
9 8
17
5 2
7

#12/26

###1-10807

In [ ]:
N = int(input())
A = list(map(int, input().split()))
v = int(input())

print(A.count(v))

11
1 4 1 2 4 2 4 2 3 4 4
5
0

###2-10871

In [ ]:
N, X = map(int, input().split())
A = list(map(int, input().split()))

for i in range(N):
    if A[i] < X:
        print(A[i], end=" ")

10 5
1 10 4 9 2 3 8 5 7 6
1 4 2 3

###3-10818

In [ ]:
N = map(int, input())
A = list(map(int, input().split()))

print(min(A), max(A))

5
20 10 35  30 7
7 35

###4-2562

In [ ]:
for (i, n) in enumerate(range(9)):
    n = int(input())
    if i == 0:
        max = n
        max_index = 1
    elif n > max:
        max = n
        max_index = i + 1

print(max)
print(max_index)

3
29
38
12
57
74
40
85
61
85
8

###5-10810

In [ ]:
N, M = map(int, input().split())
A = [0] * N

for _ in range(M):
    i, j, k = map(int, input().split())
    for n in range(i - 1, j):
        A[n] = k

for a in A:
    print(a, end=" ")

5 4
1 2 3
3 4 4
1 4 1
2 2 2
1 2 1 1 0

###6-10813

In [ ]:
N, M = map(int, input().split())
A = list(range(1, N + 1))

for _ in range(M):
    i, j = map(int, input().split())
    A[i - 1], A[j - 1] = A[j - 1], A[i - 1]

for a in A:
    print(a, end=" ")

5 4
1 2
3 4
1 4
2 2
3 1 4 2 5

###7-5597

In [ ]:
all_students = set(range(1, 31))
submitted_students = {int(input()) for _ in range(28)}
missing_students = sorted(all_students - submitted_students)

print(missing_students[0])
print(missing_students[1])

3
1
4
5
7
9
6
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
2
8

###8-3052

In [ ]:
remainders = set()

for _ in range(10):
    number = int(input())
    remainders.add(number % 42)

print(len(remainders))

39
40
41
42
43
44
82
83
84
85
6

###9-10811

In [ ]:
N, M = map(int, input().split())
A = list(range(1, N + 1))

for _ in range(M):
    i, j = map(int, input().split())
    A[i - 1:j] = reversed(A[i - 1:j])

for a in A:
    print(a, end=" ")

5 4
1 2
3 4
1 4
2 2
3 4 1 2 5

###10-1546

In [ ]:
N = int(input())
scores = list(map(int, input().split()))

best_score = max(scores)

new_scores = [score / best_score * 100 for score in scores]

average = sum(new_scores) / N

print(average)

9
10 20 30 40 50 60 70 80 90
55.55555555555556

#12/27

###1-27866

In [ ]:
S = input()
i = int(input())

print(S[i-1])

sprout
3
r

###2-2743

In [ ]:
A = input()
print(len(A))

pulljima
8

###3-9086

In [ ]:
T = int(input())

for _ in range(T):
  S = input()
print(S[0] + S[-1])

3
asdflwo
oo
ab
ab

In [ ]:
T = int(input())

test_cases = [input().strip() for _ in range(T)]

for S in test_cases:
    print(S[0] + S[-1])

3
adsge
o
ab
ae
oo
ab

###4-11654

In [ ]:
print(ord(input()))

A
65

###5-11720

In [ ]:
T = int(input())
N = input()
result = 0

for n in N:
    result += int(n)

print(result)

5
54321
15

###6-10809

In [ ]:
S = input()
alphabet = "abcdefghijklmnopqrstuvwxyz"

for a in alphabet:
    print(S.find(a), end=" ")

baekjoon
1 0 -1 -1 2 -1 -1 -1 -1 4 3 -1 -1 7 5 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1

###7-2675

In [ ]:
R = int(input())

for _ in range(R):
    T = input().split()
    result = ""
    for t in T[1]:
        result += t * int(T[0])
    print(result)

2
3 ABC
AAABBBCCC
5 /HTP
/////HHHHHTTTTTPPPPP

###8-1152

In [ ]:
S = input().split()
print(len(S))

The Curious Case of Benjamin Button
6

###9-2908

In [ ]:
N1, N2 = input().split()

print(max(int(N1[::-1]), int(N2[::-1])))

734 893
437

###10-5622

In [ ]:
S = input()
dial = ["ABC", "DEF", "GHI", "JKL", "MNO", "PQRS", "TUV", "WXYZ"]

result = 0

for s in S:
    for d in dial:
        if s in d:
            result += dial.index(d) + 3

print(result)

WA
13

###11-11718

In [ ]:
while True:
    try:
        print(input())
    except:
        break

Hello
Hello
Baekjoon
Baekjoon
a

###12-25083

In [ ]:
print('''         ,r'"7
r`-_   ,'  ,/
 \. ". L_r'
   `~\/
      |
      |''')

         ,r'"7
r`-_   ,'  ,/
 \. ". L_r'
   `~\/
      |
      |

###13-3003

In [ ]:
K, Q, R, B, Kn, P = map(int, input().split())

print(1 - K, 1 - Q, 2 - R, 2 - B, 2 - Kn, 8 - P)

0 1 2 2 2 7
1 0 0 0 0 1

###14-2444

In [ ]:
N = int(input())

for i in range(1, N*2, 2):
    print(" " * ((2 * N - 1 - i) // 2) + "*" * i)

for i in range(N*2-3, 0, -2):
    print(" " * ((2 * N - 1 - i) // 2) + "*" * i)

5
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

###15-10988

In [ ]:
W = input()

if W == W[::-1]:
    print(1)
else:
    print(0)

baekjoon
0

###16-1157

In [ ]:
W = input()
W = W.upper()

alphabet = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
count = []

for a in alphabet:
    count.append(W.count(a))

print(alphabet[count.index(max(count))]) if count.count(max(count)) == 1 else print("?")

Mississipi
?

#12/28

###1-2941

In [ ]:
CA = ["c=", "c-", "dz=", "d-", "lj", "nj", "s=", "z="]

word = input()

for c in CA:
    word = word.replace(c, "*")

print(len(word))

ljes=njak
6

#12/29

###1-1316

In [ ]:
n = int(input())
words = [input().strip() for _ in range(n)]

def is_group_word(word):
    seen = set()
    prev_char = ''
    for char in word:
        if char != prev_char:
            if char in seen:
                return False
            seen.add(char)
            prev_char = char
    return True

group_word_count = sum(1 for word in words if is_group_word(word))

print(group_word_count)

5
ab
aa
aca
ba
bb
4

#12/30

###1-25206

In [ ]:
grade_to_score = {
    "A+": 4.5,
    "A0": 4.0,
    "B+": 3.5,
    "B0": 3.0,
    "C+": 2.5,
    "C0": 2.0,
    "D+": 1.5,
    "D0": 1.0,
    "F": 0.0
}

total_credits = 0
total_points = 0

for _ in range(20):
    line = input().split()
    subject, credit, grade = line[0], float(line[1]), line[2]

    if grade == "P":
        continue

    total_credits += credit
    total_points += credit * grade_to_score[grade]

gpa = total_points / total_credits if total_credits > 0 else 0.0

print(f"{gpa:.6f}")

ObjectOrientedProgramming1 3.0 A+
IntroductiontoComputerEngineering 3.0 A+
ObjectOrientedProgramming2 3.0 A0
CreativeComputerEngineeringDesign 3.0 A+
AssemblyLanguage 3.0 A+
InternetProgramming 3.0 B0
ApplicationProgramminginJava 3.0 A0
SystemProgramming 3.0 B0
OperatingSystem 3.0 B0
WirelessCommunicationsandNetworking 3.0 C+
LogicCircuits 3.0 B0
DataStructure 4.0 A+
MicroprocessorApplication 3.0 B+
EmbeddedSoftware 3.0 C0
ComputerSecurity 3.0 D+
Database 3.0 C+
Algorithm 3.0 B0
CapstoneDesigninCSE 3.0 B+
CompilerDesign 3.0 D0
ProblemSolving 4.0 P
3.284483

###2-2738

In [ ]:
N, M = map(int, input().split())

A = [list(map(int, input().split())) for _ in range(N)]
B = [list(map(int, input().split())) for _ in range(N)]

for i in range(N):
    for j in range(M):
        print(A[i][j] + B[i][j], end=" ")
    print()

3 3
1 1 1
2 2 2
0 1 0
3 3 3
4 4 4
5 5 100
4 4 4
6 6 6
5 6 100

###3-2566

In [ ]:
table = [list(map(int, input().split())) for _ in range(9)]

max_num = 0
max_row, max_col = 0, 0
for row in range(9):
    for col in range(9):
        if max_num <= table[row][col]:
            max_row = row + 1
            max_col = col + 1
            max_num = table[row][col]

print(max_num)
print(max_row, max_col)

3 23 85 34 17 74 25 52 65
10 7 39 42 88 52 14 72 63
87 42 18 78 53 45 18 84 53
34 28 64 85 12 16 75 36 55
21 77 45 35 28 75 90 76 1
25 87 65 15 28 11 37 28 74
65 27 75 41 7 89 78 64 39
47 47 70 45 23 65 3 41 44
87 13 82 38 31 12 29 29 80
90
5 7

###4-10798

In [ ]:
table = [input() for _ in range(5)]

max_length = max(map(len, table))

for col in range(max_length):
    for row in range(5):
        if col < len(table[row]):
            print(table[row][col], end="")

ABCDE
abcde
01234
FGHIJ
fghij
Aa0FfBb1GgCc2HhDd3IiEe4Jj

###5-2563

In [ ]:
N = int(input())

canvas = [[0] * 100 for _ in range(100)]

for _ in range(N):
    x, y = map(int, input().split())
    for i in range(x, x + 10):
        for j in range(y, y + 10):
            canvas[i][j] = 1

count = 0
for row in canvas:
    count += sum(row)

print(count)

3
3 7
15 7
5 2
260

###6-2745

In [ ]:
N, B = input().split()
N = int(N, int(B))
print(N)

ZZZZZ 36
60466175

###7-11005

In [ ]:
def decimal_to_base(N, B):
    chars = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ"
    result = ""
    while N > 0:
        result = chars[N % B] + result
        N //= B
    return result

N, B = map(int, input().split())
print(decimal_to_base(N, B))

60466175 36
ZZZZZ

###8-2720

In [ ]:
T = int(input())
coins = [25, 10, 5, 1]
results = []

for _ in range(T):
    C = int(input())
    result = []
    for coin in coins:
        count = C // coin
        result.append(count)
        C %= coin
    results.append(result)

for res in results:
    print(*res)

3
124
25
194
4 2 0 4
1 0 0 0
7 1 1 4

###9-2903

In [ ]:
N = int(input())
points = (2 ** N + 1) ** 2
print(points)

2
25

###10-2292

In [ ]:
N = int(input())
room = 1
count = 1
while N > room:
    room += 6 * count
    count += 1
print(count)

13
3

###11-1193

In [ ]:
X = int(input())
line = 1
while X > line:
    X -= line
    line += 1
if line % 2 == 0:
    print(f"{X}/{line - X + 1}")
else:
    print(f"{line - X + 1}/{X}")

14
2/4

###12-2869

In [ ]:
A, B, V = map(int, input().split())
days = (V - B - 1) // (A - B) + 1
print(days)

2 1 5
4

###13-5086

In [ ]:
while True:
    a, b = map(int, input().split())
    if a == 0 and b == 0:
        break
    if b % a == 0:
        print("factor")
    elif a % b == 0:
        print("multiple")
    else:
        print("neither")

8 16
factor
32 4
multiple
17 5
neither
0 0

###14-2501

In [ ]:
N, K = map(int, input().split())
factors = []
for i in range(1, N + 1):
    if N % i == 0:
        factors.append(i)
        if len(factors) == K:
            print(i)
            break
else:
    print(0)

2735 1
1

###15-9506

In [ ]:
while True:
    n = int(input())
    if n == -1:
        break

    divisors = []
    for i in range(1, int(n**0.5) + 1):
        if n % i == 0:
            divisors.append(i)
            if i != 1 and i != n // i:
                divisors.append(n // i)

    if sum(divisors) == n:
        divisors.sort()
        print(f"{n} = {' + '.join(map(str, divisors))}")
    else:
        print(f"{n} is NOT perfect.")

6
6 = 1 + 2 + 3
12
12 is NOT perfect.
28
28 = 1 + 2 + 4 + 7 + 14
-1

#12/31

###1-1978

In [ ]:
N = int(input())
nums = list(map(int, input().split()))
count = 0

for num in nums:
    if num == 1:
        continue
    if all(num % i != 0 for i in range(2, int(num**0.5) + 1)):
        count += 1

print(count)

4
1 3 5 7
3

#1/1

###1-2581

In [ ]:
M = int(input())
N = int(input())
primes = []

for num in range(M, N + 1):
    if num == 1:
        continue
    is_prime = True

    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            is_prime = False
            break

    if is_prime:
        primes.append(num)

if primes:
    print(sum(primes))
    print(min(primes))

else:
    print(-1)

64
65
-1

#1/2

###1-11653

In [ ]:
N = int(input())

for i in range(2, N + 1):
    while N % i == 0:
        print(i)
        N //= i

72
2
2
2
3
3

###2-27323

In [ ]:
A = int(input())
B = int(input())
print(A * B)

2
3
6

###3-1085

In [ ]:
x, y, w, h = map(int, input().split())
print(min(x, y, w - x, h - y))

6 2 10 3
1

###4-3009

In [ ]:
x_coords = []
y_coords = []

for _ in range(3):
    x, y = map(int, input().split())
    x_coords.append(x)
    y_coords.append(y)

x4 = [x for x in x_coords if x_coords.count(x) == 1][0]
y4 = [y for y in y_coords if y_coords.count(y) == 1][0]

print(x4, y4)

5 5
5 7
7 5
7 7

###5-15894

In [ ]:
n = int(input())
print(n * 4)

1
4

###6-9063

In [ ]:
N = int(input())
points = []
for _ in range(N):
    x, y = map(int, input().split())
    points.append((x, y))

x_min = min(points, key=lambda x: x[0])[0]
x_max = max(points, key=lambda x: x[0])[0]
y_min = min(points, key=lambda x: x[1])[1]
y_max = max(points, key=lambda x: x[1])[1]

print((x_max - x_min) * (y_max - y_min))

3
20 24
40 21
10 12
360

###7-10101

In [ ]:
a = int(input())
b = int(input())
c = int(input())
if a == b == c == 60:
    print("Equilateral")

elif a + b + c == 180:
    if a == b or b == c or a == c:
        print("Isosceles")
    else:
        print("Scalene")
else:
    print("Error")

60
70
50
Scalene

###8-5073

In [ ]:
while True:
    a, b, c = map(int, input().split())
    if a == 0 and b == 0 and c == 0:
        break
    sides = sorted([a, b, c])
    if sides[0] + sides[1] <= sides[2]:
        print("Invalid")
    elif a == b == c:
        print("Equilateral")
    elif a == b or b == c or a == c:
        print("Isosceles")
    else:
        print("Scalene")

7 7 7
Equilateral
6 5 4
Scalene
3 2 5
Invalid
6 2 6
Isosceles
0 0 0

###9-14125

In [ ]:
a, b, c = map(int, input().split())
sides = sorted([a, b, c])

while sides[0] + sides[1] <= sides[2]:
    sides[2] -= 1

print(sum(sides))

41 64 16
113

###10-24262

In [ ]:
n = int(input())

print(1)
print(0)

1
1
0

###11-24263

In [ ]:
n = int(input())

print(n)

if n <= 500000:
    print(1)
else:
    print(4)

7
7
1

###12-24264

In [ ]:
n = int(input())

print(n ** 2)

if n <= 500000:
    print(2)
else:
    print(4)

7
49
2

###13-24265

In [ ]:
n = int(input())

execution_count = n * (n - 1) // 2

print(execution_count)
print(2)

7
21
2

###14-24266

In [ ]:
n = int(input())

execution_count = n ** 3

highest_degree = 3

print(execution_count)
print(highest_degree)

7
343
3

###15-24267

In [ ]:
n = int(input())

execution_count = (n * (n - 1) * (n - 2)) // 6 if n >= 3 else 0

highest_degree = 3

print(execution_count)
print(highest_degree)

7
35
3

###16-24313

In [ ]:
a1, a0 = map(int, input().split())
c = int(input())
n0 = int(input())

for n in range(n0, 101):
    if a1 * n + a0 > c * n:
        print(0)
        break
else:
    print(1)

7 7
8
1
0

#1/3

###1-2798

In [ ]:
N, M = map(int, input().split())
cards = list(map(int, input().split()))
closest_sum = 0

for i in range(N):
    for j in range(i + 1, N):
        for k in range(j + 1, N):
            sum_of_three = cards[i] + cards[j] + cards[k]
            if sum_of_three > M:
                continue
            if closest_sum == 0 or abs(M - sum_of_three) < abs(M - closest_sum):
                closest_sum = sum_of_three

print(closest_sum)

10 500
93 181 245 214 315 36 185 138 216 195
497

###2-2231

In [ ]:
N = int(input())
result = 0

for i in range(1, N + 1):
    digits = list(map(int, str(i)))
    result = i + sum(digits)
    if result == N:
        print(i)
        break
else:
    print(0)

216
198

###3-19532

In [ ]:
a, b, c, d, e, f = map(int, input().split())

if a * e - b * d != 0:
    x = (c * e - b * f) / (a * e - b * d)
    y = (a * f - c * d) / (a * e - b * d)
    print(int(x), int(y))
else:
    print(0)

1 3 -1 4 1 7
2 -1

###4-1018

In [ ]:
N, M = map(int, input().split())
board = [input() for _ in range(N)]

chess_pattern1 = [
    "WBWBWBWB",
    "BWBWBWBW",
    "WBWBWBWB",
    "BWBWBWBW",
    "WBWBWBWB",
    "BWBWBWBW",
    "WBWBWBWB",
    "BWBWBWBW"
]

chess_pattern2 = [
    "BWBWBWBW",
    "WBWBWBWB",
    "BWBWBWBW",
    "WBWBWBWB",
    "BWBWBWBW",
    "WBWBWBWB",
    "BWBWBWBW",
    "WBWBWBWB"
]

min_flips = float('inf')

for i in range(N - 7):
    for j in range(M - 7):
        flips1 = 0
        flips2 = 0
        for k in range(8):
            for l in range(8):
                if board[i + k][j + l] != chess_pattern1[k][l]:
                    flips1 += 1
                if board[i + k][j + l] != chess_pattern2[k][l]:
                    flips2 += 1
        min_flips = min(min_flips, flips1, flips2)

print(min_flips)

11 12
BWWBWWBWWBWW
BWWBWBBWWBWW
WBWWBWBBWWBW
BWWBWBBWWBWW
WBWWBWBBWWBW
BWWBWBBWWBWW
WBWWBWBBWWBW
BWWBWBWWWBWW
WBWWBWBBWWBW
BWWBWBBWWBWW
WBWWBWBBWWBW
15

###5-1436

In [ ]:
N = int(input())

count = 0
num = 666

while count < N:
    if '666' in str(num):
        count += 1
    num += 1

print(num - 1)

187
66666

###6-2839

In [ ]:
N = int(input())
bag = 0

while N >= 0:
    if N % 5 == 0:
        bag += N // 5
        print(bag)
        break
    N -= 3
    bag += 1
else:
    print(-1)

11
3

###7-2750

In [ ]:
N = int(input())
nums = []

for _ in range(N):
    num = int(input())
    nums.append(num)

nums.sort()

for num in nums:
    print(num)

5
5
2
3
4
1
1
2
3
4
5

###8-2587

In [ ]:
nums = []

for _ in range(5):
    num = int(input())
    nums.append(num)

nums.sort()

print(sum(nums) // 5)
print(nums[2])

10
40
30
60
30
34
30

###9-25305

In [ ]:
N, k = map(int, input().split())
scores = list(map(int, input().split()))
scores.sort(reverse=True)
print(scores[k - 1])

5 2
100 76 85 93 98
98

###10-2751

In [ ]:
import sys
input=sys.stdin.readline

n=int(input())
li=[]

for i in range(n):
    li.append(int(input()))

for i in sorted(li):
    print(i)

###11-10989

In [ ]:
import sys

def input():
    return sys.stdin.readline()

n = int(input())

count = [0] * 10001

for _ in range(n):
    num = int(input())
    count[num] += 1

for i in range(1, 10001):
    if count[i] != 0:
        for _ in range(count[i]):
            print(i)

###12-1427

In [ ]:
N = int(input())
nums = list(map(int, str(N)))
nums.sort(reverse=True)
print(''.join(map(str, nums)))

2143
4321

###13-11650

In [ ]:
N = int(input())
points = []

for _ in range(N):
    x, y = map(int, input().split())
    points.append((x, y))

points.sort(key=lambda point: (point[0], point[1]))

for x, y in points:
    print(x, y)

5
3 4
1 1
1 -1
2 2
3 3
1 -1
1 1
2 2
3 3
3 4

###14-11651

In [ ]:
N = int(input())
points = []

for _ in range(N):
    x, y = map(int, input().split())
    points.append((x, y))

points.sort(key=lambda point: (point[1], point[0]))

for x, y in points:
    print(x, y)

5
0 4
1 2
1 -1
2 2
3 3
1 -1
1 2
2 2
3 3
0 4

###15-1181

In [ ]:
N = int(input())
words = []

for _ in range(N):
    word = input()
    words.append(word)

words = list(set(words))
words.sort()
words.sort(key=len)

for word in words:
    print(word)

13
but
i
wont
hesitate
no
more
no
more
it
cannot
wait
im
yours
i
im
it
no
but
more
wait
wont
yours
cannot
hesitate

#1/4

###1-10814

In [ ]:
N = int(input())
members = []

for _ in range(N):
    age, name = input().split()
    members.append((int(age), name))

members.sort(key=lambda member: member[0])

for age, name in members:
    print(age, name)

3
21 Junkyu
21 Dohyun
20 Sunyoung
20 Sunyoung
21 Junkyu
21 Dohyun

#1/5

###1-18870

In [ ]:
N = int(input())
nums = list(map(int, input().split()))

sorted_nums = sorted(set(nums))
num_dict = {sorted_nums[i]: i for i in range(len(sorted_nums))}

for num in nums:
    print(num_dict[num], end=' ')

5
2 4 -10 4 -9
2 3 0 3 1

#1/6

###1-10815

In [ ]:
N = int(input())
cards = set(map(int, input().split()))
M = int(input())
nums = list(map(int, input().split()))

for num in nums:
    if num in cards:
        print(1, end=' ')
    else:
        print(0, end=' ')

5
6 3 2 10 -10
8
10 9 -5 2 3 4 5 -10
1 0 0 1 1 0 0 1

###2-14425

In [ ]:
N, M = map(int, input().split())
words = set()

for _ in range(N):
    word = input()
    words.add(word)

count = 0
for _ in range(M):
    word = input()
    if word in words:
        count += 1

print(count)

5 11
baekjoononlinejudge
startlink
codeplus
sundaycoding
codingsh
baekjoon
codeplus
codeminus
startlink
starlink
sundaycoding
codingsh
codinghs
sondaycoding
startrink
icerink
4

###3-7785

In [ ]:
n = int(input())

current_people = set()

for _ in range(n):
    name, action = input().split()
    if action == "enter":
        current_people.add(name)
    elif action == "leave":
        current_people.discard(name)

for name in sorted(current_people, reverse=True):
    print(name)

4
Baha enter
Askar enter
Baha leave
Artem enter
Askar
Artem

###4-1620

In [ ]:
N, M = map(int, input().split())

name_to_number = {}
number_to_name = {}

for i in range(1, N + 1):
    pokemon = input().strip()
    name_to_number[pokemon] = i
    number_to_name[i] = pokemon

answers = []
for _ in range(M):
    query = input().strip()
    if query.isdigit():
        answers.append(number_to_name[int(query)])
    else:
        answers.append(name_to_number[query])

print("\n".join(map(str, answers)))

26 5
Bulbasaur
Ivysaur
Venusaur
Charmander
Charmeleon
Charizard
Squirtle
Wartortle
Blastoise
Caterpie
Metapod
Butterfree
Weedle
Kakuna
Beedrill
Pidgey
Pidgeotto
Pidgeot
Rattata
Raticate
Spearow
Fearow
Ekans
Arbok
Pikachu
Raichu
25
Raichu
3
Pidgey
Kakuna
Pikachu
26
Venusaur
16
14

###5-10816

In [ ]:
N = int(input())
cards = list(map(int, input().split()))
M = int(input())
nums = list(map(int, input().split()))

card_dict = {}

for card in cards:
    if card in card_dict:
        card_dict[card] += 1
    else:
        card_dict[card] = 1

for num in nums:
    if num in card_dict:
        print(card_dict[num], end=' ')
    else:
        print(0, end=' ')

10
6 3 2 10 10 10 -10 -10 7 3
8
10 9 -5 2 3 4 5 -10
3 0 0 1 2 0 0 2

###6-1764

In [ ]:
N, M = map(int, input().split())

non = set()
both = set()

for _ in range(N):
    name = input()
    non.add(name)

for _ in range(M):
    name = input()
    if name in non:
        both.add(name)

print(len(both))
for name in sorted(both):
    print(name)

3 4
ohhenrie
charlie
baesangwook
obama
baesangwook
ohhenrie
clinton
2
baesangwook
ohhenrie

###7-1269

In [ ]:
A, B = map(int, input().split())
set_A = set(map(int, input().split()))
set_B = set(map(int, input().split()))

union = set_A.union(set_B)
intersection = set_A.intersection(set_B)

result = len(union) - len(intersection)
print(result)

3 5
1 2 4
2 3 4 5 6
4

###8-11478

In [ ]:
S = input()
substrings = set()

for i in range(len(S)):
    for j in range(i + 1, len(S) + 1):
        substrings.add(S[i:j])

print(len(substrings))

ababc
12

###9-1934

In [ ]:
T = int(input())

def gcd(a, b):
    while b != 0:
        a, b = b, a % b
    return a

for _ in range(T):
    A, B = map(int, input().split())
    lcm = (A * B) // gcd(A, B)
    print(lcm)

3
1 45000
45000
6 10
30
13 17
221

###10-13241

In [ ]:
A, B = map(int, input().split())

def gcd(a, b):
    while b != 0:
        a, b = b, a % b
    return a

lcm = (A * B) // gcd(A, B)
print(lcm)

1 1
1

###11-1735

In [ ]:
from math import gcd

a1, b1 = map(int, input().split())
a2, b2 = map(int, input().split())

numerator = a1 * b2 + a2 * b1
denominator = b1 * b2

g = gcd(numerator, denominator)
numerator //= g
denominator //= g

print(numerator, denominator)

2 7
3 5
31 35

###12-2485

In [ ]:
from math import gcd
from functools import reduce

N = int(input())
positions = [int(input()) for _ in range(N)]

distances = [positions[i+1] - positions[i] for i in range(N - 1)]

common_gcd = reduce(gcd, distances)

result = sum((distance // common_gcd) - 1 for distance in distances)

print(result)

4
1
3
7
13
3

###13-4134

In [ ]:
import math

def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True

def next_prime(n):
    if n <= 2:
        return 2
    if n % 2 == 0:
        n += 1
    while not is_prime(n):
        n += 2
    return n

t = int(input())
results = []
for _ in range(t):
    n = int(input())
    results.append(next_prime(n))

print("\n".join(map(str, results)))

3
6
20
100
7
23
101

###14-1929

In [ ]:
M, N = map(int, input().split())

def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True

for num in range(M, N + 1):
    if is_prime(num):
        print(num)

3 16
3
5
7
11
13

###15-4948

In [ ]:
import math

def sieve_of_eratosthenes(limit):
    is_prime = [True] * (limit + 1)
    is_prime[0] = is_prime[1] = False
    for i in range(2, int(math.sqrt(limit)) + 1):
        if is_prime[i]:
            for j in range(i * i, limit + 1, i):
                is_prime[j] = False
    return is_prime

def count_primes_in_range(is_prime, n):
    count = 0
    for i in range(n + 1, 2 * n + 1):
        if is_prime[i]:
            count += 1
    return count

def main():
    limit = 123456 * 2
    is_prime = sieve_of_eratosthenes(limit)

    results = []
    while True:
        n = int(input())
        if n == 0:
            break
        results.append(count_primes_in_range(is_prime, n))

    for result in results:
        print(result)

if __name__ == "__main__":
    main()

1
10
13
100
1000
10000
100000
0
1
4
3
21
135
1033
8392

###16-17103

In [ ]:
import math

def sieve_of_eratosthenes(limit):
    is_prime = [True] * (limit + 1)
    is_prime[0] = is_prime[1] = False
    for i in range(2, int(math.sqrt(limit)) + 1):
        if is_prime[i]:
            for j in range(i * i, limit + 1, i):
                is_prime[j] = False
    return is_prime

def count_goldbach_partitions(n, is_prime):
    count = 0
    for i in range(2, n // 2 + 1):
        if is_prime[i] and is_prime[n - i]:
            count += 1
    return count

def main():
    limit = 1_000_000
    is_prime = sieve_of_eratosthenes(limit)

    T = int(input())
    results = []
    for _ in range(T):
        N = int(input())
        results.append(count_goldbach_partitions(N, is_prime))

    for result in results:
        print(result)

if __name__ == "__main__":
    main()

5
6
8
10
12
100
1
1
2
1
6

#1/7

###1-13909

In [ ]:
import math

N = int(input())

result = int(math.sqrt(N))

print(result)

3
1

###2-28278

In [ ]:
import sys
input = sys.stdin.read

data = input().splitlines()
N = int(data[0])
commands = data[1:]

stack = []
result = []

for command in commands:
    parts = command.split()
    cmd = parts[0]

    if cmd == '1':
        stack.append(int(parts[1]))
    elif cmd == '2':
        if stack:
            result.append(stack.pop())
        else:
            result.append(-1)
    elif cmd == '3':
        result.append(len(stack))
    elif cmd == '4':
        result.append(1 if not stack else 0)
    elif cmd == '5':
        if stack:
            result.append(stack[-1])
        else:
            result.append(-1)

sys.stdout.write('\n'.join(map(str, result)) + '\n')

###3-10773

In [ ]:
K = int(input())
stack = []

for _ in range(K):
    x = int(input())
    if x == 0:
        stack.pop()
    else:
        stack.append(x)

print(sum(stack))

4
3
0
4
0
0

###4-9012

In [ ]:
T = int(input())

for _ in range(T):
    stack = []
    sequence = input()
    is_vps = True

    for char in sequence:
        if char == '(':
            stack.append(char)
        elif char == ')':
            if stack:
                stack.pop()
            else:
                is_vps = False
                break

    if is_vps and not stack:
        print("YES")
    else:
        print("NO")

6
(())())
NO
(((()())()
NO
(()())((()))
YES
((()()(()))(((())))()
NO
()()()()(()()())()
YES
(()((())()(
NO

###5-4949

In [ ]:
import sys

def is_balanced(s):
    stack = []
    for char in s:
        if char in "([":
            stack.append(char)
        elif char == ')':
            if not stack or stack[-1] != '(':
                return False
            stack.pop()
        elif char == ']':
            if not stack or stack[-1] != '[':
                return False
            stack.pop()
    return not stack

def main():
    input = sys.stdin.read
    lines = input().splitlines()

    for line in lines:
        if line == ".":
            break
        print("yes" if is_balanced(line) else "no")

if __name__ == "__main__":
    main()

###6-12789

In [ ]:
def can_receive_snacks(N, students):
    stack = []
    current = 1

    for student in students:
        while stack and stack[-1] == current:
            stack.pop()
            current += 1
        if student == current:
            current += 1
        else:
            stack.append(student)

    while stack and stack[-1] == current:
        stack.pop()
        current += 1

    return "Nice" if current == N + 1 else "Sad"

if __name__ == "__main__":
    N = int(input())
    students = list(map(int, input().split()))
    print(can_receive_snacks(N, students))

5
5 4 1 3 2
Nice

###7-18258

In [ ]:
import sys
from collections import deque

input = sys.stdin.read
data = input().splitlines()

N = int(data[0])
commands = data[1:]

queue = deque()
result = []

for command in commands:
    if command.startswith("push"):
        _, x = command.split()
        queue.append(int(x))
    elif command == "pop":
        result.append(queue.popleft() if queue else -1)
    elif command == "size":
        result.append(len(queue))
    elif command == "empty":
        result.append(1 if not queue else 0)
    elif command == "front":
        result.append(queue[0] if queue else -1)
    elif command == "back":
        result.append(queue[-1] if queue else -1)

sys.stdout.write("\n".join(map(str, result)) + "\n")

###8-2164

In [ ]:
from collections import deque

N = int(input())

queue = deque(range(1, N + 1))

while len(queue) > 1:
    queue.popleft()
    queue.append(queue.popleft())

print(queue[0])

6
4

###9-11866

In [ ]:
N, K = map(int, input().split())

queue = list(range(1, N + 1))
result = []
current = 0

while queue:
    current = (current + K - 1) % len(queue)
    result.append(str(queue.pop(current)))

print("<" + ", ".join(result) + ">")

7 3
<3, 6, 2, 7, 5, 1, 4>

###10-28279

In [ ]:
from collections import deque
import sys

input = sys.stdin.read
data = input().splitlines()

N = int(data[0])
commands = data[1:]

dq = deque()
result = []

for command in commands:
    parts = command.split()
    cmd = int(parts[0])

    if cmd == 1:
        dq.appendleft(int(parts[1]))
    elif cmd == 2:
        dq.append(int(parts[1]))
    elif cmd == 3:
        if dq:
            result.append(str(dq.popleft()))
        else:
            result.append('-1')
    elif cmd == 4:
        if dq:
            result.append(str(dq.pop()))
        else:
            result.append('-1')
    elif cmd == 5:
        result.append(str(len(dq)))
    elif cmd == 6:
        if dq:
            result.append('0')
        else:
            result.append('1')
    elif cmd == 7:
        if dq:
            result.append(str(dq[0]))
        else:
            result.append('-1')
    elif cmd == 8:
        if dq:
            result.append(str(dq[-1]))
        else:
            result.append('-1')

sys.stdout.write("\n".join(result) + "\n")

#1/8

###1-2346

In [ ]:
from collections import deque

n = int(input())
balloons = list(map(int, input().split()))

deq = deque(enumerate(balloons))
answer = []

while deq:
    idx, now_turn = deq.popleft()
    answer.append(idx + 1)

    if now_turn > 0:
        deq.rotate(-(now_turn - 1))
    elif now_turn < 0:
        deq.rotate(-now_turn)

print(' '.join(map(str, answer)))

5
3 2 1 -3 -1
1 4 5 3 2

###2-24511

In [ ]:
import sys
from collections import deque
input = sys.stdin.readline

N = int(input())
sequence_A = list(map(int, input().split()))
sequence_B = list(map(int, input().split()))
M = int(input())
sequence_C = list(map(int, input().split()))

queue = deque([])
for i in range(N):
  if sequence_A[i] == 0:
    queue.appendleft(sequence_B[i])
else:
  if queue == []:
    print(*sequence_C)
    sys.exit()

for i in range(M):
  queue.append(sequence_C[i])
  print(queue.popleft(), end = " ")

5
1 1 1 1 1
1 2 3 4 5
3
1 3 5
1 3 5

###3-1002

In [ ]:
T = int(input())

for _ in range(T):
    x1, y1, r1, x2, y2, r2 = map(int, input().split())
    distance = ((x1 - x2) ** 2 + (y1 - y2) ** 2) ** 0.5
    if distance == 0 and r1 == r2:
        print(-1)

    elif abs(r1 - r2) == distance or r1 + r2 == distance:
        print(1)

    elif abs(r1 - r2) < distance < r1 + r2:
        print(2)

    else:
        print(0)

3
0 0 13 40 0 37
2
0 0 3 0 7 4
1
1 1 1 1 1 5
0

###4-1003

In [ ]:
T = int(input())

fib_calls = [(1, 0)]
for i in range(1, 41):
    if i == 1:
        fib_calls.append((0, 1))
    else:
        zero_count = fib_calls[i - 1][0] + fib_calls[i - 2][0]
        one_count = fib_calls[i - 1][1] + fib_calls[i - 2][1]
        fib_calls.append((zero_count, one_count))

for _ in range(T):
    n = int(input())
    print(fib_calls[n][0], fib_calls[n][1])

3
0
1 0
1
0 1
3
1 2

###5-1004

In [ ]:
import math

T = int(input())

for _ in range(T):

    x1, y1, x2, y2 = map(int, input().split())
    n = int(input())
    count = 0

    for _ in range(n):

        cx, cy, r = map(int, input().split())


        start_inside = math.sqrt((x1 - cx) ** 2 + (y1 - cy) ** 2) < r
        end_inside = math.sqrt((x2 - cx) ** 2 + (y2 - cy) ** 2) < r

        if start_inside != end_inside:
            count += 1
    print(count)

2
-5 1 12 1
7
1 1 8
-3 -1 1
2 2 2
5 5 1
-4 5 1
12 1 1
12 1 2
3
-5 1 5 1
1
0 0 2
0

###6-1005

In [ ]:
from collections import deque
from sys import stdin
input = stdin.readline

t = int(input())
res = []

for _ in range(t):
    n, k = map(int, input().split())
    time = [0] + list(map(int, input().split()))
    graph = [[] for _ in range(n+1)]
    indegree = [0] * (n+1)
    dp = [0] * (n+1)
    for _ in range(k):
        a, b = map(int ,input().split())
        graph[a].append(b)
        indegree[b] += 1

    que = deque()
    for i in range(1, n+1):
        if indegree[i] == 0:
            que.append(i)
            dp[i] = time[i]

    while que:
        tmp = que.popleft()
        for i in graph[tmp]:
            indegree[i] -= 1
            dp[i] = max(dp[tmp] + time[i], dp[i])
            if indegree[i] == 0:
                que.append(i)

    w = int(input())
    res.append(dp[w])

for i in res:
    print(i)

In [ ]:
from collections import deque

t = int(input())
res = []

for _ in range(t):
    n, k = map(int, input().split())
    time = [0] + list(map(int, input().split()))
    graph = [[] for _ in range(n + 1)]
    indegree = [0] * (n + 1)
    dp = [0] * (n + 1)

    for _ in range(k):
        a, b = map(int, input().split())
        graph[a].append(b)
        indegree[b] += 1

    que = deque()
    for i in range(1, n + 1):
        if indegree[i] == 0:
            que.append(i)
            dp[i] = time[i]

    while que:
        tmp = que.popleft()
        for i in graph[tmp]:
            indegree[i] -= 1
            dp[i] = max(dp[tmp] + time[i], dp[i])
            if indegree[i] == 0:
                que.append(i)

    w = int(input())
    res.append(dp[w])

for i in res:
    print(i)

2
4 4
10 1 100 10
1 2
1 3
2 4
3 4
4
8 8
10 20 1 5 8 7 1 43
1 2
1 3
2 4
2 5
3 6
5 7
6 7
7 8
7
120
39

###7-1920

In [ ]:
N = int(input())
A = list(map(int, input().split()))
M = int(input())
queries = list(map(int, input().split()))

def binary_search(arr, target):
    left, right = 0, len(arr) - 1
    while left <= right:
        mid = (left + right) // 2
        if arr[mid] == target:
            return 1
        elif arr[mid] < target:
            left = mid + 1
        else:
            right = mid - 1
    return 0

A.sort()
results = [binary_search(A, query) for query in queries]

for result in results:
    print(result)

5
4 1 5 2 3
5
1 3 7 9 5
1
1
0
0
1

###8-1463

In [ ]:
N = int(input())

dp = [0] * (N + 1)

for i in range(2, N + 1):

    dp[i] = dp[i - 1] + 1

    if i % 2 == 0:
        dp[i] = min(dp[i], dp[i // 2] + 1)


    if i % 3 == 0:
        dp[i] = min(dp[i], dp[i // 3] + 1)

print(dp[N])

2
1

###9-1260

In [ ]:
from collections import deque

N, M, V = map(int, input().split())
graph = [[] for _ in range(N + 1)]

for _ in range(M):
    u, v = map(int, input().split())
    graph[u].append(v)
    graph[v].append(u)

for adj_list in graph:
    adj_list.sort()

def dfs(v, visited):
    visited[v] = True
    result = [v]
    for neighbor in graph[v]:
        if not visited[neighbor]:
            result.extend(dfs(neighbor, visited))
    return result

def bfs(v):
    visited = [False] * (N + 1)
    queue = deque([v])
    visited[v] = True
    result = [v]

    while queue:
        current = queue.popleft()
        for neighbor in graph[current]:
            if not visited[neighbor]:
                visited[neighbor] = True
                queue.append(neighbor)
                result.append(neighbor)
    return result

dfs_result = dfs(V, [False] * (N + 1))
bfs_result = bfs(V)

print(' '.join(map(str, dfs_result)))
print(' '.join(map(str, bfs_result)))

1000 1 1000
999 1000
1000 999
1000 999

###10-10828

In [ ]:
import sys
n = int(sys.stdin.readline())

stack=[]
for i in range(n):
    command = sys.stdin.readline().split()

    if command[0]=='push':
        stack.append(command[1])
    elif command[0]=='pop':
        if len(stack)==0:
            print(-1)
        else:
            print(stack.pop())
    elif command[0] == 'size':
        print(len(stack))
    elif command[0] == 'empty':
        if len(stack)==0:
            print(1)
        else:
            print(0)
    elif command[0] == 'top':
        if len(stack)==0:
            print(-1)
        else:
            print(stack[-1])

#1/9

###1-1009

In [ ]:
T = int(input())

for _ in range(T):
    a, b = map(int, input().split())
    result = pow(a, b, 10)
    if result == 0:
        print(10)
    else:
        print(result)

5
1 6
1
3 7
7
6 2
6
7 100
1
9 635
9

###2-1032

In [ ]:
N = int(input())

file_names = []
for _ in range(N):
    file_names.append(input())

result = ''

for i in range(len(file_names[0])):
    for j in range(1, N):
        if file_names[0][i] != file_names[j][i]:
            result += '?'
            break
    else:
        result += file_names[0][i]

print(result)

3
config.sys
config.inf
configures
config????

###3-1037

In [ ]:
N = int(input())
factors = list(map(int, input().split()))

min_factor = min(factors)
max_factor = max(factors)

print(min_factor * max_factor)

2
4 2
8

###4-1075

In [ ]:
N = int(input())
F = int(input())

N = (N // 100) * 100

for i in range(100):
    if (N + i) % F == 0:
        print(f"{i:02d}")
        break

1000
3
02

###5-1076

In [ ]:
C = ['black', 'brown', 'red', 'orange', 'yellow', 'green', 'blue', 'violet', 'grey', 'white']
first = input()
second = input()
third = input()

print((C.index(first) * 10 + C.index(second)) * (10 ** C.index(third)))

yellow
violet
red
4700

###6-1100

In [ ]:
board = [input() for _ in range(8)]
count = 0

for i in range(8):
    for j in range(8):
        if (i + j) % 2 == 0 and board[i][j] == 'F':
            count += 1

print(count)

.F.F...F
F...F.F.
...F.F.F
F.F...F.
.F...F..
F...F.F.
.F.F.F.F
..FF..F.
1

###7-1110

In [ ]:
N = int(input())
original = N
count = 0

while True:
    count += 1
    tens = N // 10
    ones = N % 10
    sum_digits = tens + ones
    N = (ones * 10) + (sum_digits % 10)

    if N == original:
        break

print(count)

26
4

###8-1145

In [ ]:
numbers = list(map(int, input().split()))

candidate = 1

while True:
    count = 0
    for num in numbers:
        if candidate % num == 0:
            count += 1
    if count >= 3:
        print(candidate)
        break
    candidate += 1

30 42 70 35 90
210

###9-1159

In [ ]:
N = int(input())
players = {}

for _ in range(N):
    name = input().strip()
    first_letter = name[0]
    if first_letter not in players:
        players[first_letter] = []
    players[first_letter].append(name)

result = []
for letter, names in players.items():
    if len(names) >= 5:
        result.append(letter)

if result:
    print(''.join(sorted(result)))
else:
    print('PREDAJA')

18
babic
keksic
boric
bukic
sarmic
balic
kruzic
hrenovkic
beslic
boksic
krafnic
pecivic
klavirkovic
kukumaric
sunkic
kolacic
kovacic
prijestolonasljednikovi
bk

###10-1173

In [ ]:
N, m, M, T, R = map(int, input().split())

if m + T > M:
    print(-1)
else:
    count = 0
    exercise_time = 0
    pulse = m

    while exercise_time < N:
        if pulse + T <= M:
            pulse += T
            exercise_time += 1
        else:
            pulse -= R
            if pulse < m:
                pulse = m

        count += 1

    print(count)

5 70 120 25 15
10

#1/10

###1-1212

In [ ]:
octal = input().strip()
binary = bin(int(octal, 8))[2:]
print(binary)

314
11001100

###2-1225

In [ ]:
A, B = input().split()

sum_a = sum(int(digit) for digit in A)
sum_b = sum(int(digit) for digit in B)

result = sum_a * sum_b

print(result)

123 45
54

###3-1233

In [ ]:
S1, S2, S3 = map(int, input().split())

sum_count = {}

for i in range(1, S1 + 1):
    for j in range(1, S2 + 1):
        for k in range(1, S3 + 1):
            current_sum = i + j + k
            if current_sum not in sum_count:
                sum_count[current_sum] = 0
            sum_count[current_sum] += 1

max_frequency = max(sum_count.values())
most_frequent_sum = min(key for key, value in sum_count.items() if value == max_frequency)

print(most_frequent_sum)

3 2 3
5

###4-1236

In [ ]:
N, M = map(int, input().split())
castle = [input().strip() for _ in range(N)]

row_guard = 0
col_guard = 0

for i in range(N):
    if 'X' not in castle[i]:
        row_guard += 1

for j in range(M):
    if all(castle[i][j] != 'X' for i in range(N)):
        col_guard += 1

print(max(row_guard, col_guard))

5 8
....XXXX
........
XX.X.XX.
........
........
3

###5-1247

In [ ]:
for _ in range(3):
    N = int(input())
    total = 0
    for _ in range(N):
        total += int(input())
    if total > 0:
        print("+")
    elif total < 0:
        print("-")
    else:
        print("0")

3
0
0
0
0
10
1
2
4
8
16
32
64
128
256
-512
-
6
9223372036854775807
9223372036854775806
9223372036854775805
-9223372036854775807
-9223372036854775806
-9223372036854775804
+

###6-1252

In [ ]:
num1, num2 = input().split()

binary_sum = bin(int(num1, 2) + int(num2, 2))[2:]

print(binary_sum)

1001101 10010
1011111

###7-1259

In [ ]:
while True:
    number = input()
    if number == "0":
        break
    if number == number[::-1]:
        print("yes")
    else:
        print("no")

121
yes
1231
no
12421
yes
0

###8-1264

In [ ]:
vowels = "aeiouAEIOU"

while True:
    line = input()
    if line == "#":
        break
    count = sum(1 for char in line if char in vowels)
    print(count)

How are you today?
7
Quite well, thank you, how about yourself?
14
I live at number twenty four.
9
#

###9-1267

In [ ]:
N = int(input())
T = list(map(int, input().split()))

Y = 0
M = 0

for time in T:
    Y += (time // 30) * 10 + 10
    M += (time // 60) * 15 + 15

if Y < M:
    print("Y", Y)
elif Y > M:
    print("M", M)
else:
    print("Y M", Y)

3
40 40 40
M 45

###10-1271

In [ ]:
n, m = map(int, input().split())
print(n // m)
print(n % m)

1000 100
10
0

###11-1284

In [ ]:
while True:
    number = input().strip()
    if number == "0":
        break

    width = 2

    for digit in number:
        if digit == "1":
            width += 2
        elif digit == "0":
            width += 4
        else:
            width += 3

    width += len(number) - 1

    print(width)

120
13
5611
15
100
14
0

###12-30518

In [ ]:
import sys
input = sys.stdin.readline
from itertools import combinations

MOD = 1_000_000_007

lighter = input().rstrip()
smallant = input().rstrip()

total_string = lighter + smallant

avail = 0
for how_many_pick in range(1, len(smallant)+1):
    for tpl in combinations(range(len(smallant)), how_many_pick):
        string = lighter
        for idx in tpl:
            string += smallant[idx]
        is_ok = True
        for i in range(len(string)-2):
            a, b, c = string[i], string[i+1], string[i+2]
            if a == 'R' and b == 'S' and c == 'S':
                is_ok = False
                break
            if a == 'S' and b == 'P' and c == 'P':
                is_ok = False
                break
            if a == 'P' and b == 'R' and c == 'R':
                is_ok = False
                break
        if is_ok:
            avail += 1
print(avail % MOD)

###13-2252

In [ ]:
from collections import deque

n, m = map(int, input().split())
graph = [[] for _ in range(n + 1)]
in_degree = [0] * (n + 1)

for _ in range(m):
    a, b = map(int, input().split())
    graph[a].append(b)
    in_degree[b] += 1

def topological_sort():
    result = []
    queue = deque()

    for i in range(1, n + 1):
        if in_degree[i] == 0:
            queue.append(i)

    while queue:
        current = queue.popleft()
        result.append(current)

        for neighbor in graph[current]:
            in_degree[neighbor] -= 1
            if in_degree[neighbor] == 0:
                queue.append(neighbor)

    return result

result = topological_sort()
print(" ".join(map(str, result)))

3 2
1 3
2 3
1 2 3

###14-2213

In [ ]:
from collections import defaultdict

n = int(input())
weights = list(map(int, input().split()))
edges = []
while True:
    try:
        line = input().strip()
        if not line:
            break
        edges.append(tuple(map(int, line.split())))
    except EOFError:
        break

tree = defaultdict(list)
for u, v in edges:
    tree[u].append(v)
    tree[v].append(u)

dp = [[0, 0] for _ in range(n + 1)]
visited = [False] * (n + 1)
selected_nodes = []

def dfs(node):
    visited[node] = True
    dp[node][0] = 0
    dp[node][1] = weights[node - 1]
    for child in tree[node]:
        if not visited[child]:
            dfs(child)
            dp[node][0] += max(dp[child][0], dp[child][1])
            dp[node][1] += dp[child][0]

def trace(node, include):
    visited[node] = True
    if include:
        selected_nodes.append(node)
        for child in tree[node]:
            if not visited[child]:
                trace(child, False)
    else:
        for child in tree[node]:
            if not visited[child]:
                if dp[child][0] < dp[child][1]:
                    trace(child, True)
                else:
                    trace(child, False)

dfs(1)
visited = [False] * (n + 1)
if dp[1][0] < dp[1][1]:
    trace(1, True)
else:
    trace(1, False)

selected_nodes.sort()
print(max(dp[1][0], dp[1][1]))
print(" ".join(map(str, selected_nodes)))

7
10 30 40 10 20 20 70
1 2
2 3
4 3
4 5
6 2
6 7

140
1 3 5 7

###15-1292

In [ ]:
A, B = map(int, input().split())

sequence = []
i = 1
while len(sequence) < B:
    sequence.extend([i] * i)
    i += 1

result = sum(sequence[A-1:B])
print(result)

3 7
15

#1/11

###1-1080

In [ ]:
def flip_matrix(matrix, x, y):
    for i in range(3):
        for j in range(3):
            matrix[x + i][y + j] ^= 1

def min_operations_to_convert(n, m, A, B):
    if n < 3 or m < 3:
        return -1 if A != B else 0

    operations = 0

    for i in range(n - 2):
        for j in range(m - 2):
            if A[i][j] != B[i][j]:
                flip_matrix(A, i, j)
                operations += 1

    return operations if A == B else -1

n, m = map(int, input().split())
A = [list(map(int, input().strip())) for _ in range(n)]
B = [list(map(int, input().strip())) for _ in range(n)]

print(min_operations_to_convert(n, m, A, B))

3 4
0000
0010
0000
1001
1011
1001
2

###2-1105

In [ ]:
def count_min_eights(L, R):
    L, R = str(L), str(R)
    min_eights = 0

    if len(L) != len(R):
        return 0

    for l_digit, r_digit in zip(L, R):
        if l_digit != r_digit:
            break
        if l_digit == '8':
            min_eights += 1

    return min_eights

L, R = map(int, input().split())

print(count_min_eights(L, R))

8808 8880
2

###3-1124

In [ ]:
def sieve_of_eratosthenes(max_n):
    is_prime = [True] * (max_n + 1)
    is_prime[0] = is_prime[1] = False
    for i in range(2, int(max_n ** 0.5) + 1):
        if is_prime[i]:
            for j in range(i * i, max_n + 1, i):
                is_prime[j] = False
    return is_prime

def prime_factor_count(n, primes):
    count = 0
    for p in primes:
        if p * p > n:
            break
        while n % p == 0:
            count += 1
            n //= p
    if n > 1:
        count += 1
    return count

def count_underprimes(A, B):
    max_n = 100000
    is_prime = sieve_of_eratosthenes(max_n)
    primes = [i for i in range(2, max_n + 1) if is_prime[i]]

    prime_count_is_prime = [False] * (max_n + 1)
    for i in range(max_n + 1):
        count = prime_factor_count(i, primes)
        if count <= max_n and is_prime[count]:
            prime_count_is_prime[i] = True

    return sum(prime_count_is_prime[A:B + 1])

A, B = map(int, input().split())

print(count_underprimes(A, B))

2 10
5

#1/12

###1-1141

In [ ]:
import sys

n = int(sys.stdin.readline())
words = [(sys.stdin.readline()).rstrip() for _ in range(n)]

words.sort(key=len)
res = 0

for i in range(n):
    flag = False

    for j in range(i + 1, n):

        if words[i] == words[j][0:len(words[i])]:
            flag = True
            break

    if not flag:
        res += 1

print(res)

#1/13

###1-1149

In [ ]:
def rgb_distance_optimized(n, costs):
    prev = costs[0]

    for i in range(1, n):
        curr = [0] * 3
        curr[0] = costs[i][0] + min(prev[1], prev[2])
        curr[1] = costs[i][1] + min(prev[0], prev[2])
        curr[2] = costs[i][2] + min(prev[0], prev[1])
        prev = curr

    return min(prev)

n = int(input())
costs = [list(map(int, input().split())) for _ in range(n)]

print(rgb_distance_optimized(n, costs))

3
1 100 100
100 1 100
100 100 1
3

###2-1010

In [ ]:
import math

def cc(n, m):
    return math.comb(m, n)

t = int(input())
results = []

for _ in range(t):
    n, m = map(int, input().split())
    results.append(cc(n, m))

for result in results:
    print(result)

3
2 2
1 5
13 29
1
5
67863915

###3-1015

In [ ]:
n = int(input())
a = list(map(int, input().split()))

indexed_a = [(val, idx) for idx, val in enumerate(a)]

indexed_a.sort()

p = [0] * n
for new_idx, (_, original_idx) in enumerate(indexed_a):
    p[original_idx] = new_idx

print(*p)

3
2 3 1
1 2 0

###4-1198

In [ ]:
from itertools import combinations
import math

def area(a, b, c):
    x1, y1 = a
    x2, y2 = b
    x3, y3 = c
    return abs(x1 * y2 + x2 * y3 + x3 * y1 - x2 * y1 - x3 * y2 - x1 * y3) / 2

N = int(input())
points = [tuple(map(int, input().split())) for _ in range(N)]

max_area = 0

for triangle in combinations(points, 3):
    max_area = max(max_area, area(*triangle))

print(max_area)

4
1 1
1 2
3 3
2 1
1.5

###5-1021

In [ ]:
from collections import deque

n, m = map(int, input().split())
targets = list(map(int, input().split()))

queue = deque(range(1, n + 1))

total_moves = 0

for target in targets:

    idx = queue.index(target)
    left_moves = idx
    right_moves = len(queue) - idx
    total_moves += min(left_moves, right_moves)

    if left_moves <= right_moves:
        queue.rotate(-left_moves)
    else:
        queue.rotate(right_moves)

    queue.popleft()

print(total_moves)

10 3
1 2 3
0

###6-1296

In [ ]:
def cp(name1, name2):
    name = name1 + name2
    L = name.count('L')
    O = name.count('O')
    V = name.count('V')
    E = name.count('E')
    return ((L + O) * (L + V) * (L + E) * (O + V) * (O + E) * (V + E)) % 100

y_name = input().strip()
n = int(input())
team_names = [input().strip() for _ in range(n)]

best_team = None
max_probability = -1

for team in sorted(team_names):
    prob = cp(y_name, team)
    if prob > max_probability:
        max_probability = prob
        best_team = team

print(best_team)

LOVE
3
JACOB
FRANK
DANO
FRANK

###7-1026

In [ ]:
n = int(input())
A = list(map(int, input().split()))
B = list(map(int, input().split()))

A.sort()
B.sort(reverse=True)

S = sum(a * b for a, b in zip(A, B))

print(S)

5
1 1 1 6 0
2 7 8 3 1
18

#1/14

###1-1333

In [ ]:
N, L, D = map(int, input().split())

end_of_album = N * L + (N - 1) * 5

time = 0
while time <= end_of_album:
    is_playing = False
    for i in range(N):
        start = i * (L + 5)
        end = start + L
        if start <= time < end:
            is_playing = True
            break
    if not is_playing:
        break
    time += D

print(time)

6 9 20
40

###2-1356

In [ ]:
def yujinsu(n):
    def product(s):
        result = 1
        for char in s:
            result *= int(char)
        return result

    n = str(n)
    length = len(n)

    for i in range(1, length):
        p1 = n[:i]
        p2 = n[i:]
        if product(p1) == product(p2):
            return "YES"
    return "NO"

n = input().strip()
print(yujinsu(n))

42393338
YES

###3-1357

In [ ]:
def rev_num(n):
    return int(str(n)[::-1])

x, y = map(int, input().split())

result = rev_num(rev_num(x) + rev_num(y))

print(result)

456 789
1461

###4-1373

In [ ]:
binary = input().strip()

octal = oct(int(binary, 2))[2:]

print(octal)

11001100
314

###5-1524

In [ ]:
T = int(input().strip())
results = []

for _ in range(T):
    input()
    N, M = map(int, input().split())
    sejun = sorted(map(int, input().split()))
    sebi = sorted(map(int, input().split()))

    if sejun[-1] >= sebi[-1]:
        results.append("S")
    else:
        results.append("B")

print("\n".join(results))

2

1 1
1
1

3 2
1 3 2
5 5
S
B

###6-1526

In [ ]:
def num47(num):
    for digit in str(num):
        if digit != '4' and digit != '7':
            return False
    return True

def largest_num47(N):
    for num in range(N, 3, -1):
        if num47(num):
            return num

N = int(input())

print(largest_num47(N))

474747
474747

###7-1551

In [ ]:
N, K = map(int, input().split())
A = list(map(int, input().split(',')))

for _ in range(K):
    A = [A[i+1] - A[i] for i in range(len(A) - 1)]

print(','.join(map(str, A)))

8 3
4,4,4,4,4,4,4,4
0,0,0,0,0

###8-1672

In [ ]:
decode = {
    ('A', 'A'): 'A', ('A', 'G'): 'C', ('A', 'C'): 'A', ('A', 'T'): 'G',
    ('G', 'A'): 'C', ('G', 'G'): 'G', ('G', 'C'): 'T', ('G', 'T'): 'A',
    ('C', 'A'): 'A', ('C', 'G'): 'T', ('C', 'C'): 'C', ('C', 'T'): 'G',
    ('T', 'A'): 'G', ('T', 'G'): 'A', ('T', 'C'): 'G', ('T', 'T'): 'T',
}

N = int(input())
sequence = input().strip()

current = sequence[-1]
for i in range(N - 2, -1, -1):
    current = decode[(sequence[i], current)]

print(current)

6
AAGTCG
A

###9-1816

In [ ]:
import math

def generate_primes(limit):
    is_prime = [True] * (limit + 1)
    is_prime[0] = is_prime[1] = False
    for i in range(2, int(math.sqrt(limit)) + 1):
        if is_prime[i]:
            for j in range(i * i, limit + 1, i):
                is_prime[j] = False
    return [x for x in range(limit + 1) if is_prime[x]]

MAX = 10**6
primes = generate_primes(MAX)

N = int(input())
results = []
for _ in range(N):
    S = int(input())
    is_valid = True

    for p in primes:
        if p * p > S:
            break
        if S % p == 0:
            is_valid = False
            break

    if is_valid and S > MAX:
        sqrt_s = int(math.sqrt(S))
        for p in primes:
            if p > sqrt_s:
                break
            if S % p == 0:
                is_valid = False
                break

    results.append("YES" if is_valid else "NO")

print("\n".join(results))

3
1000036000099
1500035500153
20000000000002
YES
NO
NO

###10-1834

In [ ]:
N = int(input())

result = (N + 1) * N * (N - 1) // 2

print(result)

2000000
3999999999999000000

#1/15

###1-1855

In [ ]:
K = int(input())
encrypted = input().strip()

row_count = len(encrypted) // K

matrix = []
for i in range(row_count):
    start_idx = i * K
    end_idx = start_idx + K
    row = encrypted[start_idx:end_idx]
    if i % 2 == 1:
        row = row[::-1]
    matrix.append(row)

original = ""
for col in range(K):
    for row in range(row_count):
        original += matrix[row][col]

print(original)

3
aeijfbcgklhd
abcdefghijkl

###2-1894

In [ ]:
import sys

def find_fourth_point(coords):
    x1, y1, x2, y2, x3, y3, x4, y4 = coords
    if (x1, y1) == (x3, y3):  # A == C
        x5 = x2 + x4 - x1
        y5 = y2 + y4 - y1
    elif (x1, y1) == (x4, y4):  # A == D
        x5 = x2 + x3 - x1
        y5 = y2 + y3 - y1
    elif (x2, y2) == (x3, y3):  # B == C
        x5 = x1 + x4 - x2
        y5 = y1 + y4 - y2
    elif (x2, y2) == (x4, y4):  # B == D
        x5 = x1 + x3 - x2
        y5 = y1 + y3 - y2
    return f"{x5:.3f} {y5:.3f}"

input_lines = sys.stdin.read().strip().split("\n")
for line in input_lines:
    coords = list(map(float, line.split()))
    print(find_fourth_point(coords))

###3-1924

In [ ]:
def find_day_of_week(x, y):
    days_in_month = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
    days_of_week = ["MON", "TUE", "WED", "THU", "FRI", "SAT", "SUN"]

    total_days = sum(days_in_month[:x - 1]) + y - 1
    return days_of_week[total_days % 7]

x, y = map(int, input().split())
print(find_day_of_week(x, y))

1 1
MON

###4-1942

In [ ]:
def tts(hh, mm, ss):
    return hh * 3600 + mm * 60 + ss

def stt(seconds):
    hh = seconds // 3600
    mm = (seconds % 3600) // 60
    ss = seconds % 60
    return hh, mm, ss

def count_3(start_time, end_time):

    sh, sm, ss = map(int, start_time.split(":"))
    eh, em, es = map(int, end_time.split(":"))

    start_seconds = tts(sh, sm, ss)
    end_seconds = tts(eh, em, es)

    if start_seconds > end_seconds:
        end_seconds += 86400

    count = 0
    for t in range(start_seconds, end_seconds + 1):
        hh, mm, ss = stt(t % 86400)
        clock_number = hh * 10000 + mm * 100 + ss
        if clock_number % 3 == 0:
            count += 1
    return count

for _ in range(3):
    start_time, end_time = input().split()
    print(count_3(start_time, end_time))

00:59:58 01:01:24
29
22:47:03 01:03:24
2727
00:00:09 00:03:37
70

###5-1952

In [ ]:
m,n=map(int,input().split())
print(2*min(m,n)-1-(m<=n))

5 3
5

###6-2033

In [ ]:
N = int(input())

start = 10
while N > start:
  temp = N % start

  if temp >= start //2:
    N += start
  N -= temp
  start *= 10

print(N)

446
500

###7-2037

In [ ]:
if __name__ == '__main__':
    keyboard = [[], ['A', 'B', 'C'], ['D', 'E', 'F'], ['G', 'H', 'I'], ['J', 'K', 'L'], ['M', 'N', 'O'],
                ['P', 'Q', 'R', 'S'], ['T', 'U', 'V'], ['W', 'X', 'Y', 'Z']]
    p, w = map(int, input().split())
    text = input()

    total = 0
    past_j = ''
    for i in range(len(text)):
        if text[i] == ' ':
            total += p
            past_j = ''
        for j in range(len(keyboard)):
            for k in range(len(keyboard[j])):
                if text[i] == keyboard[j][k]:
                    if j == past_j:
                        total += w
                    total += (1+k) * p
                    past_j = j
    print(total)

2 10
ABBAS SALAM
72

###8-2160

In [ ]:
def find_most_similar_pictures(N, pictures):
    def count_differences(pic1, pic2):
        differences = 0
        for row1, row2 in zip(pic1, pic2):
            for c1, c2 in zip(row1, row2):
                if c1 != c2:
                    differences += 1
        return differences

    min_differences = float('inf')
    best_pair = None

    for i in range(N):
        for j in range(i + 1, N):
            diff = count_differences(pictures[i], pictures[j])
            if diff < min_differences:
                min_differences = diff
                best_pair = (i + 1, j + 1)

    return best_pair

N = int(input())
pictures = [input().strip() for _ in range(5 * N)]
pictures = [pictures[i * 5:(i + 1) * 5] for i in range(N)]

result = find_most_similar_pictures(N, pictures)

print(*result)

3
..X....
.XXX...
.XX....
.....X.
.X...X.
...X...
..XX...
.XX....
.XX..X.
.X...X.
XX.....
X......
XX...XX
XXXX.XX
XXX..XX
1 2

###9-2163

In [ ]:
def min_chocolate_cuts(N, M):
    return N * M - 1

N, M = map(int, input().split())
print(min_chocolate_cuts(N, M))

1 1
0

###10-2183

In [ ]:
def tennis_match_winner(N, S):
    return S[-1]

if __name__ == "__main__":
    import sys
    input = sys.stdin.read
    data = input().strip().split()
    N = int(data[0])
    S = data[1]
    print(tennis_match_winner(N, S))

#1/16

###1-2204

In [ ]:
def find_earliest_words():
    results = []

    while True:
        n = int(input())
        if n == 0:
            break

        words = [input() for i in range(n)]
        earliest_word = min(words, key=lambda word: word.lower())
        results.append(earliest_word)

    for result in results:
        print(result)

find_earliest_words()

3
Cat
fat
bAt
4
call
ball
All
Hall
0
bAt
All

###2-2246

In [ ]:
def count_candidate_condos():
    N = int(input())
    condos = []
    for _ in range(N):
        D, C = map(int, input().split())
        condos.append((D, C))

    condos.sort()

    min_cost = float('inf')
    candidate_count = 0

    for _, cost in condos:
        if cost < min_cost:
            candidate_count += 1
            min_cost = cost

    print(candidate_count)

count_candidate_condos()

5
300 100
100 300
400 200
200 400
100 500
2

###3-2309

In [ ]:
def find_seven_dwarfs():
    heights = [int(input()) for _ in range(9)]
    total_sum = sum(heights)

    for i in range(9):
        for j in range(i + 1, 9):
            if total_sum - heights[i] - heights[j] == 100:
                result = sorted([heights[k] for k in range(9) if k != i and k != j])
                print("\n".join(map(str, result)))
                return

find_seven_dwarfs()

20
7
23
19
10
15
25
8
13
7
8
10
13
19
20
23

###4-2435

In [ ]:
def max_temperature_sum():
    N, K = map(int, input().split())
    temperatures = list(map(int, input().split()))

    current_sum = sum(temperatures[:K])
    max_sum = current_sum

    for i in range(K, N):
        current_sum += temperatures[i] - temperatures[i - K]
        max_sum = max(max_sum, current_sum)

    print(max_sum)

max_temperature_sum()

10 2
3 -2 -4 -9 0 3 7 13 8 -3
21

###5-2456

In [ ]:
def class_president():
    N = int(input())
    candidate = [0] * 3
    squared = [0] * 3

    for _ in range(N):
        a, b, c = map(int, input().split())
        candidate[0] += a
        candidate[1] += b
        candidate[2] += c

        squared[0] += a ** 2
        squared[1] += b ** 2
        squared[2] += c ** 2

    max_score = max(candidate)

    if candidate.count(max_score) == 1:
        print(candidate.index(max_score) + 1, max_score)
    else:
        max_squared = max(squared)
        elected = 0
        for i in range(3):
            if squared[i] == max_squared:
                elected = i
                break

        if squared.count(max_squared) > 1:
            print(0, max_score)
        else:
            print(elected + 1, candidate[elected])

class_president()

6
1 2 3
3 1 2
2 3 1
1 2 3
3 1 2
2 3 1
0 12

###6-2526

In [ ]:
def find_cycle():
    N, P = map(int, input().split())
    visited = []
    current = N

    while current not in visited:
        visited.append(current)
        current = (current * N) % P

    cycle_start = visited.index(current)
    cycle_length = len(visited) - cycle_start

    print(cycle_length)

find_cycle()

96 61
60

###7-2546

In [ ]:
T = int(input())

for t in range(T):
    empty_line = input()
    N, M = map(int, input().split())
    C = list(map(int, input().split()))
    Economics = list(map(int, input().split()))

    C_avg = sum(C) / N
    Economics_avg = sum(Economics) / M

    result = 0

    for c in C:
        if c < C_avg and c > Economics_avg:
            result += 1
    print(result)

1

5 5
100 101 102 103 104
98 100 102 99 101
1

###8-2596

In [ ]:
if __name__ == '__main__':
    n = int(input())
    s = input()
    s_li = []
    for i in range(0, n * 6, 6):
        s_li.append(s[i: i + 6])
    promise = ['000000', '001111',
               '010011', '011100',
               '100110', '101001',
               '110101', '111010']

    correct = ''
    incorrect = 0
    for i in s_li:
        incorrect = 0
        for j in promise:
            cnt = 0
            for k in range(6):
                if i[k] == j[k]:
                    cnt += 1
            if cnt >= 5:
                correct += chr(promise.index(j) + 65)
                break
            else:
                incorrect += 1
        if incorrect == len(promise):
            print(s_li.index(i) + 1)
            quit()
    print(correct)

5
011111000000111111000000111111
3
3
BAA

###9-2609

In [ ]:
def gcd(a, b):
    while b != 0:
        a, b = b, a % b
    return a

def lcm(a, b, gcd_value):
    return a * b // gcd_value

if __name__ == "__main__":
    a, b = map(int, input().split())

    gcd_value = gcd(a, b)
    lcm_value = lcm(a, b, gcd_value)

    print(gcd_value)
    print(lcm_value)

24 18
6
72

###10-2684

In [ ]:
def count_coin_sequences(test_cases):
    sequences = ['TTT', 'TTH',
                 'THT', 'THH',
                 'HTT', 'HTH',
                 'HHT', 'HHH']
    results = []

    for coins in test_cases:
        counts = [0] * 8
        for i in range(len(coins) - 2):
            seq = coins[i:i + 3]
            if seq in sequences:
                counts[sequences.index(seq)] += 1
        results.append(counts)

    return results

if __name__ == "__main__":

    P = int(input())
    test_cases = [input().strip() for _ in range(P)]

    results = count_coin_sequences(test_cases)

    for result in results:
        print(" ".join(map(str, result)))

4
HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH
TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
HHTTTHHTTTHTHHTHHTTHTTTHHHTHTTHTTHTTTHTH
HTHTHHHTHHHTHTHHHHTTTHTTTTTHHTTTTHTHHHHT
0 0 0 0 0 0 0 38
38 0 0 0 0 0 0 0
4 7 6 4 7 4 5 1
6 3 4 5 3 6 5 6

#1/17

###1-2693

In [ ]:
if __name__ == "__main__":
    T = int(input())

    results = []
    for _ in range(T):
        A = list(map(int, input().split()))
        third_largest = sorted(A, reverse=True)[2]
        results.append(third_largest)

    for result in results:
        print(result)

4
1 2 3 4 5 6 7 8 9 1000
338 304 619 95 343 496 489 116 98 127
931 240 986 894 826 640 965 833 136 138
940 955 364 188 133 254 501 122 768 408
8
489
931
768

###2-2729

In [ ]:
if __name__ == "__main__":
    T = int(input())
    results = []

    for _ in range(T):
        bin1, bin2 = input().split()
        sum_binary = int(bin1, 2) + int(bin2, 2)
        results.append(bin(sum_binary)[2:])

    for result in results:
        print(result)

3
1001101 10010
1001001 11001
1000111 1010110
1011111
1100010
10011101

###3-2748

In [ ]:
def fibonacci(n):
    a, b = 0, 1
    for _ in range(n):
        a, b = b, a + b
    return a

if __name__ == "__main__":
    n = int(input())
    print(fibonacci(n))

10
55

###4-2755

In [ ]:
from decimal import Decimal, ROUND_HALF_UP

n = int(input())

grade_to_score = {
    'A+': Decimal('4.3'), 'A0': Decimal('4.0'), 'A-': Decimal('3.7'),
    'B+': Decimal('3.3'), 'B0': Decimal('3.0'), 'B-': Decimal('2.7'),
    'C+': Decimal('2.3'), 'C0': Decimal('2.0'), 'C-': Decimal('1.7'),
    'D+': Decimal('1.3'), 'D0': Decimal('1.0'), 'D-': Decimal('0.7'),
    'F': Decimal('0.0')
}

total_credits = Decimal('0')
total_score = Decimal('0')

for _ in range(n):
    _, credit, grade = input().split()
    credit = Decimal(credit)
    total_credits += credit
    total_score += credit * grade_to_score[grade]

gpa = total_score / total_credits
gpa = gpa.quantize(Decimal('0.01'), rounding=ROUND_HALF_UP)

print(f"{gpa}")

7
General_Physics_1 3 A+
Introduction_to_Computer_Science_and_Eng 3 B0
Reading_And_Writing 2 C0
English_1 3 C+
Analytic_Geometry_and_Calculus_1 3 B+
Fortran_Programming 3 B+
C_Language_Programming 3 A+
3.28

###5-2775

In [ ]:
t = int(input())

results = []

for _ in range(t):
    k = int(input())
    n = int(input())
    apartment = [i for i in range(1, n + 1)]

    for floor in range(1, k + 1):
        for room in range(1, n):
            apartment[room] += apartment[room - 1]
    results.append(apartment[-1])

for result in results:
    print(result)

2
1
3
2
3
6
10

###6-2804

In [ ]:
A, B = input().split()

cross_char = None
for char in A:
    if char in B:
        cross_char = char
        break

x = A.index(cross_char)
y = B.index(cross_char)

grid = [['.' for _ in range(len(A))] for _ in range(len(B))]

for i in range(len(A)):
    grid[y][i] = A[i]

for i in range(len(B)):
    grid[i][x] = B[i]

for row in grid:
    print(''.join(row))

BANANA PIDZAMA
.P....
.I....
.D....
.Z....
BANANA
.M....
.A....

###7-2810

In [ ]:
N = int(input())
member = input()

count_LL = member.count('LL')

if count_LL == 0:
    print(N)
else:
    print(N - count_LL + 1)

4
SLLS
4

###8-2816

In [ ]:
n = int(input())
channel = []

for i in range(n):
    name = input()
    if name == 'KBS1':
        idx1 = i
    elif name == 'KBS2':
        idx2 = i
    channel.append(name)

res = ''
res += '1' * idx1
res += '4' * idx1

if idx1 > idx2:
    idx2 += 1

res += '1' * idx2
res += '4' * (idx2 - 1)

print(res)

4
ABC1
ABC02
KBS2
KBS1
11144411144

###9-2846

In [ ]:
N = int(input())
heights = list(map(int, input().split()))

max_climb = 0
current_climb = 0

for i in range(1, N):
    if heights[i] > heights[i - 1]:
        current_climb += heights[i] - heights[i - 1]
    else:
        if current_climb > max_climb:
            max_climb = current_climb
        current_climb = 0

if current_climb > max_climb:
    max_climb = current_climb

print(max_climb)

6
10 8 8 6 4 3
0

###10-2851

In [ ]:
scores = [int(input()) for _ in range(10)]

current_sum = 0
best_score = 0

for score in scores:
    current_sum += score
    if abs(100 - current_sum) <= abs(100 - best_score):
        best_score = current_sum
    if current_sum > 100:
        break

print(best_score)

1
2
3
5
8
13
21
34
55
89
87

#1/18

###1-2896

In [ ]:
A, B, C = map(float, input().split())
I, J, K = map(float, input().split())

max_cocktails = min(A / I, B / J, C / K)

remaining_A = A - (max_cocktails * I)
remaining_B = B - (max_cocktails * J)
remaining_C = C - (max_cocktails * K)

def format_output(value):
    if abs(value) < 1e-6:
        return "0"
    return f"{value:.6f}"

print(f"{format_output(remaining_A)} {format_output(remaining_B)} {format_output(remaining_C)}")

10 15 18
3 4 1
0 1.666667 14.666667

#1/19

###1-2897

In [ ]:
R, C = map(int, input().split())
parking_lot = [input() for _ in range(R)]

result = [0] * 5

for i in range(R - 1):
    for j in range(C - 1):
        subgrid = [
            parking_lot[i][j], parking_lot[i][j + 1],
            parking_lot[i + 1][j], parking_lot[i + 1][j + 1]
        ]
        if '#' in subgrid:
            continue

        car_count = subgrid.count('X')
        result[car_count] += 1

for count in result:
    print(count)

4 4
#..#
..X.
..X.
#XX#
1
1
2
1
0

#1/20

###1-2929

In [ ]:
code = input()

current_position = 0
nop_count = 0

i = 0
while i < len(code):
    if code[i].isupper():
        if current_position % 4 != 0:
            nop_needed = 4 - (current_position % 4)
            nop_count += nop_needed
            current_position += nop_needed

        current_position += 1

        parameter_count = 0
        while i + 1 + parameter_count < len(code) and code[i + 1 + parameter_count].islower():
            parameter_count += 1

        current_position += parameter_count
        i += parameter_count
    i += 1

print(nop_count)

AbcbBccCDefgh
4

###2-2930

In [ ]:
R = int(input())
sangkeun_moves = input().strip()
N = int(input())
friends_moves = [input().strip() for _ in range(N)]

def calculate_score(my_move, friend_move):
    if my_move == friend_move:
        return 1
    if (my_move == 'S' and friend_move == 'P') or \
       (my_move == 'P' and friend_move == 'R') or \
       (my_move == 'R' and friend_move == 'S'):
        return 2
    return 0

actual_score = 0
for r in range(R):
    for friend in friends_moves:
        actual_score += calculate_score(sangkeun_moves[r], friend[r])

max_score = 0
for r in range(R):
    best_move_score = 0
    for move in ['S', 'P', 'R']:
        round_score = 0
        for friend in friends_moves:
            round_score += calculate_score(move, friend[r])
        best_move_score = max(best_move_score, round_score)
    max_score += best_move_score

print(actual_score)
print(max_score)

4
SPRS
4
RPRP
SRRR
SSPR
PSPS
12
21

###3-2947

In [ ]:
wood_pieces = list(map(int, input().split()))

target = [1, 2, 3, 4, 5]

while wood_pieces != target:
    for i in range(len(wood_pieces) - 1):
        if wood_pieces[i] > wood_pieces[i + 1]:
            wood_pieces[i], wood_pieces[i + 1] = wood_pieces[i + 1], wood_pieces[i]
            print(" ".join(map(str, wood_pieces)))

2 3 4 5 1
2 3 4 1 5
2 3 1 4 5
2 1 3 4 5
1 2 3 4 5

###4-2999

In [ ]:
encrypted_message = input()
message_length = len(encrypted_message)

rows, cols = 0, 0

for r in range(1, int(message_length ** 0.5) + 1):
    if message_length % r == 0:
        c = message_length // r
        if r <= c:
            rows, cols = r, c

for r in range(rows):
    for c in range(cols):
        print(encrypted_message[r + c * rows], end='')

boudonuimilcbsai
bombonisuuladici

###5-3023

In [ ]:
R, C = map(int, input().split())
design = [input() for _ in range(R)]
A, B = map(int, input().split())

top_half = []
for row in design:
    top_half.append(row + row[::-1])

card = top_half + [row for row in reversed(top_half)]

A -= 1
B -= 1

card[A] = card[A][:B] + ('#' if card[A][B] == '.' else '.') + card[A][B+1:]

for row in card:
    print(row)

3 3
###
###
###
1 4
###.##
######
######
######
######
######

###6-3035

In [ ]:
R, C, ZR, ZC = map(int, input().split())
news = [input() for _ in range(R)]

scanned_result = []
for row in news:
    expanded_row = ''.join(char * ZC for char in row)
    for _ in range(ZR):
        scanned_result.append(expanded_row)

for row in scanned_result:
    print(row)

3  3 2 1
.X.
X.X
.X.
.X.
.X.
X.X
X.X
.X.
.X.

###7-3041

In [ ]:
goal = {
    'A': (0, 0), 'B': (0, 1), 'C': (0, 2), 'D': (0, 3),
    'E': (1, 0), 'F': (1, 1), 'G': (1, 2), 'H': (1, 3),
    'I': (2, 0), 'J': (2, 1), 'K': (2, 2), 'L': (2, 3),
    'M': (3, 0), 'N': (3, 1), 'O': (3, 2), '.': (3, 3)
}

current_puzzle = [input().strip() for _ in range(4)]

scatter_degree = 0
for i in range(4):
    for j in range(4):
        tile = current_puzzle[i][j]
        if tile != '.':
            goal_x, goal_y = goal[tile]
            scatter_degree += abs(i - goal_x) + abs(j - goal_y)

print(scatter_degree)

.BCD
EAGH
IJFL
MNOK
6

###8-3154

In [ ]:
def calc(a, b):
    arr = [
        (3, 1),
        (0, 0), (0, 1), (0, 2),
        (1, 0), (1, 1), (1, 2),
        (2, 0), (2, 1), (2, 2)
    ]
    return abs(arr[a][0] - arr[b][0]) + abs(arr[a][1] - arr[b][1])

def find_min_effort_alarm(hh, mm):
    min_effort = float('inf')
    best_h, best_m = 0, 0

    for h in range(100):
        for m in range(100):
            if h % 24 != hh or m % 60 != mm:
                continue

            effort = (
                calc(h // 10, h % 10) +
                calc(h % 10, m // 10) +
                calc(m // 10, m % 10)
            )

            if effort < min_effort:
                min_effort = effort
                best_h, best_m = h, m

    return f"{best_h:02}:{best_m:02}"

input_time = input().strip()
hh, mm = map(int, input_time.split(":"))

result = find_min_effort_alarm(hh, mm)
print(result)

00:11
24:11

###9-3208

In [ ]:
R, C = map(int, input().split())

if R > C:
    print((C - 1) * 2 + 1)
else:
    print((R - 1) * 2)

4 10
6

###10-3226

In [ ]:
def calculate_cost(start_time, duration):
    HH, MM = map(int, start_time.split(":"))
    start_minutes = HH * 60 + MM

    total_cost = 0
    for i in range(duration):
        current_time = (start_minutes + i) % 1440
        if 420 <= current_time < 1140:
            total_cost += 10
        else:
            total_cost += 5
    return total_cost

N = int(input())
total_cost = 0

for _ in range(N):
    start_time, duration = input().split()
    duration = int(duration)
    total_cost += calculate_cost(start_time, duration)

print(total_cost)

5
00:00 05
06:47 35
11:30 18
18:33 60
23:59 22
1035

#1/21

###1-3232

In [ ]:
def find_smallest_base(p, q, r):
    min_base = max(int(max(str(p))), int(max(str(q))), int(max(str(r)))) + 1

    for base in range(min_base, 17):
        try:
            p_base = int(str(p), base)
            q_base = int(str(q), base)
            r_base = int(str(r), base)
            if p_base * q_base == r_base:
                return base
        except ValueError:
            continue1
    return 0

T = int(input())
results = []

for _ in range(T):
    p, q, r = map(int, input().split())
    results.append(find_smallest_base(p, q, r))

for res in results:
    print(res)

3
6 9 42
11 11 121
2 2 2
13
3
0

###2-3282

In [ ]:
def check(n, rooms):
    for i in range(n):
        if rooms[i] == 0:
            return i
    for i in range(n):
        if rooms[i] == 1:
            return i
    return -1

def solve():
    n, g = map(int, input().split())
    rooms = [0] * n

    for _ in range(g):
        x = int(input())
        idx = check(n, rooms)

        while x > 0:
            rooms[idx] += 1
            x -= 1
            if rooms[idx] == 2:
                idx = check(n, rooms)

    for room in rooms:
        print(room)

if __name__ == "__main__":
    solve()

###3-3412

In [ ]:
import sys
import math

def main():
    input = sys.stdin.read
    data = input().split()
    tc = int(data[0])
    index = 1
    results = []
    for _ in range(tc):
        n = int(data[index])
        index += 1
        ans = 0
        for _ in range(n):
            a, b = int(data[index]), int(data[index + 1])
            index += 2
            r = math.sqrt(a * a + b * b)
            for j in range(1, 11):
                if r <= 20 * j:
                    ans += 11 - j
                    break
        results.append(ans)
    print("\n".join(map(str, results)))

if __name__ == "__main__":
    main()

#1/22

###1-1189

In [ ]:
r, c, k = map(int, input().strip().split())
graph = [list(input().strip()) for _ in range(r)]
move = [[-1, 0], [0, 1], [1, 0], [0, -1]]
graph[r - 1][0] = 1
result = 0

def dfs(row, col):
    global result
    if row == 0 and col == c - 1:
        if graph[row][col] == k:
            result += 1
        return
    for i in move:
        nrow, ncol = row + i[0], col + i[1]
        if 0 <= nrow < r and 0 <= ncol < c and graph[nrow][ncol] == '.':
            graph[nrow][ncol] = graph[row][col] + 1
            dfs(nrow, ncol)
            graph[nrow][ncol] = '.'

dfs(r - 1, 0)
print(result)

3 4 6
....
.T..
....
4

###2-1195

In [ ]:
a = input().strip()
b = input().strip()

len_a = len(a)
len_b = len(b)
min_width = len_a + len_b

for offset in range(-len_b + 1, len_a):
    overlap = True
    for i in range(len_b):
        pos_a = offset + i
        if 0 <= pos_a < len_a:
            if a[pos_a] == '2' and b[i] == '2':
                overlap = False
                break
    if overlap:
        min_width = min(min_width, max(len_a, offset + len_b) - min(0, offset))

print(min_width)

2112112112
2212112
10

###3-1262

In [ ]:
n, r1, c1, r2, c2 = map(int, input().split())

for i in range(r2 - r1 + 1):
    s = r1 + i
    row = []
    for j in range(c2 - c1 + 1):
        e = c1 + j
        x = s % (2 * n - 1)
        y = e % (2 * n - 1)
        dis = abs((n - 1) - x) + abs((n - 1) - y)

        if dis >= n:
            row.append(".")
        else:
            row.append(chr((dis % 26) + ord('a')))
    print("".join(row))

5 3 18 10 46
.edcbcde..edcbcde..edcbcde..e
edcbabcdeedcbabcdeedcbabcdeed
.edcbcde..edcbcde..edcbcde..e
..edcde....edcde....edcde....
...ede......ede......ede.....
....e........e........e......
....e........e........e......
...ede......ede......ede.....

###4-1276

In [ ]:
n = int(input())
platforms = []

for _ in range(n):
    y, x1, x2 = map(int, input().split())
    platforms.append((y, x1, x2))

platforms.sort(reverse=True)

total_length = 0

for i in range(n):
    y, x1, x2 = platforms[i]
    left_pillar = y
    right_pillar = y

    for j in range(i + 1, n):
        below_y, below_x1, below_x2 = platforms[j]

        if below_x1 <= x1 < below_x2:
            left_pillar = min(left_pillar, y - below_y)

        if below_x1 < x2 <= below_x2:
            right_pillar = min(right_pillar, y - below_y)

    total_length += left_pillar + right_pillar

print(total_length)

5
50 50 90
40 40 80
30 30 70
20 20 60
10 10 50
200

###5-1283

In [ ]:
n = int(input())
options = [input() for _ in range(n)]

shortcuts = set()

results = []

for option in options:
    words = option.split()
    found = False

    for i, word in enumerate(words):
        key = word[0].lower()
        if key not in shortcuts:
            shortcuts.add(key)
            words[i] = f"[{word[0]}]{word[1:]}"
            found = True
            break

    if not found:
        for i, word in enumerate(words):
            for j, char in enumerate(word):
                key = char.lower()
                if key not in shortcuts:
                    shortcuts.add(key)
                    words[i] = f"{word[:j]}[{char}]{word[j+1:]}"
                    found = True
                    break
            if found:
                break

    results.append(" ".join(words))

for result in results:
    print(result)

5
New
Open
Save
Save As
Save All
[N]ew
[O]pen
[S]ave
Save [A]s
Sa[v]e All

###6-1303

In [ ]:
from collections import deque

def bfs(x, y, color, battlefield, visited):
    n, m = len(battlefield), len(battlefield[0])
    queue = deque([(x, y)])
    visited[x][y] = True
    size = 0

    directions = [(-1, 0), (1, 0), (0, -1), (0, 1)]
    while queue:
        cx, cy = queue.popleft()
        size += 1

        for dx, dy in directions:
            nx, ny = cx + dx, cy + dy
            if 0 <= nx < n and 0 <= ny < m and not visited[nx][ny] and battlefield[nx][ny] == color:
                visited[nx][ny] = True
                queue.append((nx, ny))
    return size

n, m = map(int, input().split())
battlefield = [input().strip() for _ in range(m)]

visited = [[False] * n for _ in range(m)]
white_power = 0
blue_power = 0

for i in range(m):
    for j in range(n):
        if not visited[i][j]:
            group_size = bfs(i, j, battlefield[i][j], battlefield, visited)
            power = group_size ** 2
            if battlefield[i][j] == 'W':
                white_power += power
            else:
                blue_power += power

print(white_power, blue_power)

5 5
WBWWW
WWWWW
BBBBB
BBBWW
WWWWW
130 65

###7-1309

In [ ]:
n = int(input())
MOD = 9901

dp = [1, 1, 1]

for _ in range(1, n):
    new_dp = [0, 0, 0]
    new_dp[0] = (dp[0] + dp[1] + dp[2]) % MOD
    new_dp[1] = (dp[0] + dp[2]) % MOD
    new_dp[2] = (dp[0] + dp[1]) % MOD
    dp = new_dp

print(sum(dp) % MOD)

4
41

###8-1325

In [ ]:
from collections import deque
import sys
input = sys.stdin.readline

def bfs(i):
    visited = [0] * (N + 1)
    q = deque([i])
    visited[i] = 1
    cnt = 1

    while q:
        x = q.popleft()

        for nx in computer[x]:
            if not visited[nx]:
                q.append(nx)
                visited[nx] = 1
                cnt += 1

    return cnt

N, M = map(int, input().split())
computer = [[] for _ in range(N+1)]

for _ in range(M):
    A, B = map(int,input().split())
    computer[B].append(A)

answer = []
max_hack = 0
for i in range(1, N+1):
    result = bfs(i)
    if max_hack < result:
        max_hack = result
        answer.clear()
        answer.append(i)
    elif max_hack == result:
        answer.append(i)

print(*answer)

###9-1342

In [ ]:
import sys
input = sys.stdin.readline

def dfs(pre_word, picked):

    if picked == len(S):
        return 1
    answer = 0
    for key in counter.keys():
        if pre_word == key:
            continue
        if counter[key] == 0:
            continue
        counter[key] -= 1
        answer += dfs(key, picked+1)
        counter[key] += 1
    return answer

S = list(input().strip())
counter = dict()
for s in S:
    if s in counter:
        counter[s] += 1
    else:
        counter[s] = 1

answer = dfs('', 0)
print(answer)

abcdefghij
3628800

###10-1389

In [ ]:
import sys
from collections import deque

N, M = map(int, sys.stdin.readline().split())
friend = [[] for _ in range(N + 1)]

for _ in range(M):
    a, b = map(int, sys.stdin.readline().split())
    friend[a].append(b)
    friend[b].append(a)

def bfs(start):
    visited = [0] * (N + 1)
    q = deque([start])
    while q:
        cur_man = q.popleft()
        for next_man in friend[cur_man]:
            if not visited[next_man] and next_man != start:
                visited[next_man] = visited[cur_man] + 1
                q.append(next_man)
    return sum(visited)

min_kevin_man, min_kevin = 0, float('inf')
for i in range(1, N + 1):
    kevin = bfs(i)
    if kevin < min_kevin:
        min_kevin, min_kevin_man = kevin, i

print(min_kevin_man)

#1/23

###1-1393

In [ ]:
import sys
import math

def get_gcd(a, b):
    while b:
        a, b = b, a % b
    return a

def check_distance(x, y):
    return (x - xs)**2 + (y - ys)**2

xs, ys = map(int, sys.stdin.readline().split())
xe, ye, dx, dy = map(int, sys.stdin.readline().split())

gcd = get_gcd(dx, dy)
dx, dy = dx // gcd, dy // gcd

while check_distance(xe, ye) > check_distance(xe + dx, ye + dy):
    xe += dx
    ye += dy

print(xe, ye)

###2-1421

In [ ]:
def max_profit(N, C, W, lengths):
    max_length = max(lengths)
    max_money = 0

    for target_length in range(1, max_length + 1):
        total_money = 0

        for length in lengths:
            num_pieces = length // target_length
            leftover = length % target_length

            if num_pieces == 0:
                continue

            cut_cost = (num_pieces - 1) * C if leftover == 0 else num_pieces * C
            profit = num_pieces * target_length * W - cut_cost

            if profit > 0:
                total_money += profit

        max_money = max(max_money, total_money)

    return max_money

N, C, W = map(int, input().split())
lengths = [int(input()) for _ in range(N)]

print(max_profit(N, C, W, lengths))

3 1 10
26
103
59
1770

###3-1446

In [ ]:
n, d = map(int, input().split())
shortcuts = sorted([tuple(map(int, input().split())) for _ in range(n)])
dp = list(range(d + 1))

for i in range(d + 1):
    if i > 0:
        dp[i] = min(dp[i], dp[i - 1] + 1)
    while shortcuts and shortcuts[0][0] == i:
        start, end, length = shortcuts.pop(0)
        if end <= d:
            dp[end] = min(dp[end], dp[start] + length)

print(dp[d])

2 100
10 60 40
50 90 20
80

###4-1455

In [ ]:
n, m = map(int, input().split())
coins = [list(map(int, input().strip())) for _ in range(n)]

flips = 0

for i in range(n - 1, -1, -1):
    for j in range(m - 1, -1, -1):
        if coins[i][j] == 1:
            flips += 1
            for x in range(i + 1):
                for y in range(j + 1):
                    coins[x][y] ^= 1

print(flips)

2 2
00
01
4

###5-1474

In [ ]:
n, m = map(int, input().split())
data = [input().strip() for _ in range(n)]

default_len, r = divmod(m - sum(len(word) for word in data), n - 1)

result = data[0]
for i in range(1, n):
    extra = 1 if r > 0 and (data[i][0].islower() or n - i <= r) else 0
    result += '_' * (default_len + extra) + data[i]
    r -= extra

print(result)

4 29
Hello
world
John
said
Hello____world___John____said

###6-1495

In [ ]:
n, s, m = map(int, input().split())
v = list(map(int, input().split()))

dp = [[False] * (m + 1) for _ in range(n + 1)]
dp[0][s] = True

for i in range(1, n + 1):
    for j in range(m + 1):
        if dp[i - 1][j]:
            if j + v[i - 1] <= m:
                dp[i][j + v[i - 1]] = True
            if j - v[i - 1] >= 0:
                dp[i][j - v[i - 1]] = True

result = -1
for i in range(m, -1, -1):
    if dp[n][i]:
        result = i
        break

print(result)

4 8 20
15 2 9 10
-1

###7-1497

In [ ]:
from itertools import combinations
import sys
input = sys.stdin.readline
n, m = map(int,input().split())
array = []
for _ in range(n):
    array.append(list(input().split()))
answer = -1
cnt = 0
for i in range(1,n+1):
    n_list = list(combinations(array,i))
    for j in range(len(n_list)):
        check = [False for _ in range(m)]
        for k in n_list[j]:
            for l in range(m):
                if k[1][l] == 'Y':
                    check[l] = True
        if check.count(True) > cnt:
            answer = i
            cnt = check.count(True)
print(answer)

###8-1522

In [ ]:
s = input()
a = s.count('a')

s += s[:a-1]
min_val = min(s[i:i+a].count('b') for i in range(len(s) - a + 1))
print(min_val)

abababababababa
3

###9-1527

In [ ]:
def generate_lucky_numbers(current):

    if current > 1_000_000_000:
        return

    if current > 0:
        lucky_numbers.append(current)

    generate_lucky_numbers(current * 10 + 4)
    generate_lucky_numbers(current * 10 + 7)

A, B = map(int, input().split())

lucky_numbers = []

generate_lucky_numbers(0)

lucky_numbers.sort()

count = sum(1 for num in lucky_numbers if A <= num <= B)

print(count)

1000000 5000000
64

###10-1564

In [ ]:
n = int(input())
f = 1
for i in range(2,n+1):
    f*=i
    while True:
        if str(f)[-1] == "0":
            f //= 10
        else:
            break
    f%=100000000000000000

print(str(f)[-5:])

18
05728

#1/24

###1-1569

In [2]:
n = int(input())
points = [tuple(map(int, input().split())) for _ in range(n)]

mnx = min(x for x, y in points)
mxx = max(x for x, y in points)
mny = min(y for x, y in points)
mxy = max(y for x, y in points)

length = max(mxx - mnx, mxy - mny)

def is_covered(x_min, y_min):
    x_max, y_max = x_min + length, y_min + length
    return all(
        (x == x_min or x == x_max or y == y_min or y == y_max) and
        (x_min <= x <= x_max and y_min <= y <= y_max)
        for x, y in points
    )

if is_covered(mnx, mny) or is_covered(mxx - length, mxy - length):
    print(length)
else:
    print(-1)

2
0 0
1 1
1

###2-1629

In [3]:
def modular_exponentiation(a, b, c):
    if b == 0:
        return 1
    half = modular_exponentiation(a, b // 2, c)
    half = (half * half) % c
    if b % 2 == 0:
        return half
    else:
        return (half * a) % c

a, b, c = map(int, input().split())

print(modular_exponentiation(a, b, c))

10 11 12
4

###3-1931

In [ ]:
import sys

n = int(input())

endPoint: int = 0
answer: int = 0

arr = []

for i in range(0,n):
    a, b = map(int,sys.stdin.readline().rstrip().split())
    arr.append([a,b])

arr.sort(key=lambda x: (x[1], x[0]))

for newStart, newEnd in arr:
    if endPoint <= newStart:
        answer += 1
        endPoint = newEnd
print(answer)

###4-7576

In [ ]:
from collections import deque

def ripe_tomatoes(M, N, box):
    directions = [(-1, 0), (1, 0), (0, -1), (0, 1)]

    queue = deque()
    for i in range(N):
        for j in range(M):
            if box[i][j] == 1:
                queue.append((i, j))

    days = 0
    while queue:
        x, y = queue.popleft()

        for dx, dy in directions:
            nx, ny = x + dx, y + dy

            if 0 <= nx < N and 0 <= ny < M and box[nx][ny] == 0:
                box[nx][ny] = box[x][y] + 1
                queue.append((nx, ny))
                days = max(days, box[nx][ny] - 1)

    for i in range(N):
        for j in range(M):
            if box[i][j] == 0:
                return -1

    return days

M, N = map(int, input().split())
box = [list(map(int, input().split())) for _ in range(N)]

print(ripe_tomatoes(M, N, box))

###5-11729

In [ ]:
def hanoi(n, source, target, auxiliary, result):
    if n == 1:
        result.append((source, target))
        return
    hanoi(n-1, source, auxiliary, target, result)
    result.append((source, target))
    hanoi(n-1, auxiliary, target, source, result)

def hanoi_tower(n):
    result = []
    hanoi(n, 1, 3, 2, result)
    return result

n = int(input())

result = hanoi_tower(n)

print(len(result))
for move in result:
    print(move[0], move[1])

###6-12865

In [ ]:
def knapsack():
    N, K = map(int, input().split())
    items = [tuple(map(int, input().split())) for _ in range(N)]

    dp = [0] * (K + 1)

    for weight, value in items:
        for i in range(K, weight - 1, -1):
            dp[i] = max(dp[i], dp[i - weight] + value)

    print(dp[K])

knapsack()

###7-10026

In [ ]:
from collections import deque

n = int(input())

array = [list(input().strip()) for _ in range(n)]

dx = [0, 0, -1, 1]
dy = [-1, 1, 0, 0]

def bfs(x, y, color_blind=False):
    color = array[x][y]
    q = deque([(x, y)])
    visited[x][y] = True

    while q:
        i, j = q.popleft()

        for k in range(4):
            nx, ny = i + dx[k], j + dy[k]
            if 0 <= nx < n and 0 <= ny < n and not visited[nx][ny]:
                if color_blind:
                    if (color == 'R' or color == 'G') and (array[nx][ny] == 'R' or array[nx][ny] == 'G'):
                        visited[nx][ny] = True
                        q.append((nx, ny))
                    elif array[nx][ny] == color:
                        visited[nx][ny] = True
                        q.append((nx, ny))
                else:
                    if array[nx][ny] == color:
                        visited[nx][ny] = True
                        q.append((nx, ny))

visited = [[False] * n for _ in range(n)]
normal_count = 0
for i in range(n):
    for j in range(n):
        if not visited[i][j]:
            bfs(i, j)
            normal_count += 1

visited = [[False] * n for _ in range(n)]
blind_count = 0
for i in range(n):
    for j in range(n):
        if not visited[i][j]:
            bfs(i, j, color_blind=True)
            blind_count += 1

print(normal_count, blind_count)

#런타임 연결

In [15]:
print('Hello World!')

Hello World!